<div class="shipCarrusel">

          <!--<div class="addInfo"><span class="iconFont-close"></span>No tienes direcciones.</div>-->

         <div class="block-carrusel">
            <div class="block-wrapper">

                <div class="block-slide">
                    <div class="carruselSCC-div">
                        <div class="shippingMenu">
                            <a href="#">edit</a>
                            <span class="iconFont-close" title="Eliminar"></span>
                        </div>
                        <h3>DIRECCIÓN 1</h3>
                        <address>
                            <span>Raúl Sotomayor,</span>
                            <span>Marsella 7, Villa,</span>
                            <span>Avaro Obregón, 01810</span>
                        </address>
                        <span class="iconFont-send" title="Tu paquete será enviado a esta dirección"></span>
                        <span class="note hover">Da click aqui para establecer como dirección principal</span>
                        <input type="radio" name="shippingRadio" class="shippingRadio">
                    </div>
                </div>


            </div>
        </div>

    <span class="iconFont-left" title="Anterior"></span>
    <span class="iconFont-right" title="Siguiente"></span>


    <div class="shippingAdd">
        <h3>AGREGAR DIRECCIÓN +</h3>
        <span class="openClose"  data-showdiv=".shippingNewAddress" data-hidediv=".shipCarrusel">Da click para agregar</span>
    </div>

</div>
<div class="shippingNewAddress">
    <form id="shippingNewAddress" accept-charset="utf-8" action="#" method="post">
        <div class="column">
            <h3>NOMBRE</h3>
            <input type="text" placeholder="Nombre" name="nombre" class="requiredField" data-requiredfield="Nombre Requerido">
            <input type="text" placeholder="Apellido Paterno" name="apellidop" class="requiredField" data-requiredfield="Requerido">
            <input type="text" placeholder="Apellido Materno" name="apellidom">
        </div>
        <div class="column">
            <h3>DIRECCIÓN</h3>
            <textarea placeholder="Calle" name="calle" class="requiredField" data-requiredfield="Requerido"></textarea>
            <div class="inputNumber">
                <input type="text" placeholder="# ext" class="requiredField" data-requiredfield="Requerido">
                <input type="text" placeholder="# int">
            </div>
            <textarea placeholder="¿Entre qué calles?" name="entrecalles"></textarea>
            <textarea placeholder="Referencias para llegar" name="referencias"></textarea>
        </div>
        <div class="column noH3">
            <input type="text" placeholder="Codigo Postal" name="cp">
            <input type="text" placeholder="Estado" name="estado">
            <input type="text" placeholder="Delegación o Municipio" name="mpiodel">
            <input type="text" placeholder="Colonia" name="colonia">
            <input type="text" placeholder="Teléfono con lada" name="tel">
        </div>
        <div class="column columnLarge">
            <h3>OPCIONES</h3>
            <input type="checkbox" class="checkbox">
            <label class="checkboxLabel">Hacer esta mi dirección principal</label>
            <p class="note">Winbits guarda tu dirección para que puedas utilizarlas siempre que las necesites y tus compras sean mucho más fáciles. </p>
            <div class="errorDiv"><p>Email no existe, favor de verificarlo</p></div>
            <div class="submitButton">
                <span class="btn btnCancel" data-showdiv=".shipCarrusel" data-hidediv=".shippingNewAddress">Cancelar</span>
                <input type="submit" value="Guardar" class="btn">
            </div>
        </div>
    </form>
    <div class="thanks-div">
        <div class="data" style="display: none">
            <p>Procesando información</p>
            <div class="loader"></div>
        </div>
        <div class="data">
            <p>Tus datos quedaron guardados</p>
            <a href="#" class="btn">Cerrar</a>
        </div>
    </div>
</div>