<div class="checkoutResumen1">
    <h3>Gracias por comprar en Winbits</h3>
    <p>Tu compra ha sido completada exitosamente</p>
</div>
<div class="checkoutButton">
  <input type="submit" class="btn btnCheckout" value="Volver a la tienda" onclick="window.history.back();">
</div>