<div class="checkoutResumen">
  <h3>ENTREGA</h3>
  <p>Fecha estimada de entrega:<span>{{estimatedDeliveryDate}}</span></p>
</div>
<div class="checkoutResumen">
  <h3>ORDEN DE COMPRA</h3>
  <p><b>{{orderNumber}}</b></p>
  <p>Tu orden de compra se enviará a la siguiente dirección:<span>{{email}}</span></p>
</div>
<div class="checkoutButton">
  <input type="submit" class="btn btnCheckout" value="Volver a la tienda" onclick="window.history.back();">
</div>