

<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6025860792995&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
<!-- Google Tag Manager ---------->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KQ7HXQ"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function (w, d, s, l, i) {
  w[l] = w[l] || []; w[l].push({
    'gtm.start':
        new Date().getTime(), event: 'gtm.js'
  }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
      '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-KQ7HXQ');</script>
<!-- End Google Tag Manager -->

<div class="checkoutResumen1">
    <h3>Gracias por comprar en Winbits</h3>
    <p>Tu compra ha sido completada exitosamente</p>
</div>
<div class="checkoutButton">
  <input type="submit" class="btn btnCheckout" value="Volver a la tienda" onclick="window.history.back();">
</div>

<script>
  var dataLayer = dataLayer || [];
  var orderDetail = window.completeOrderDetails;
  var formData = window.completeFormData;
  var products = [];
  var vertical = "";
  var totalCash = document.getElementsByClassName("slideInput-totalPrice")[0].innerHTML.replace("$","");
  switch(Winbits.checkoutConfig.verticalId) {
    case "4":
      vertical = "ClickOnero";
      break;
    case "11":
      vertical = "Bebitos";
      break;
    case "12":
      vertical = "Invita Amigos";
      break;
    default:
      break;
  }
  for(var i = 0; i< orderDetail.length; i++){
    products.push ({
      'name': orderDetail[i].sku.brand.description,
      'id': orderDetail[i].sku.id,
      'price': orderDetail[i].sku.price,
      'brand': orderDetail[i].sku.brand.name,
      'category': orderDetail[i].sku.brand.description,
      'variant': orderDetail[i].sku.mainAttribute.label,
      'quantity': orderDetail[i].quantity
    })
  }
  dataLayer.push({
    'ecommerce': {
      'purchase': {
        'actionField': {
          'id': Winbits.checkoutConfig.orderId,
          'affiliation': vertical,
          'revenue': totalCash,
          'tax': '',
          'shipping': document.getElementsByClassName("checkoutSubtotal")[0].childNodes[11].innerHTML.replace("$",""),
          'coupon': '',
        },

        'products': products
      }
    }
  });
  //console.log ("dataLayer -> " + JSON.stringify(dataLayer));
</script>

<!-- Facebook Conversion Code for Checkout -->
<script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
    }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6025860792995', {'value':'0.00','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6025860792995&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

<!-- Scripts Google & Facebook -->
