

<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6025860792995&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

<div class="checkoutResumen1">
    <h3>Gracias por comprar en Winbits</h3>
    <p>Tu compra ha sido completada exitosamente</p>
</div>
<div class="checkoutButton">
  <input type="submit" class="btn btnCheckout" value="Volver a la tienda" onclick="window.history.back();">
</div>
<script>
    var dataLayer = dataLayer || [];
    var orderDetail = window.completeOrderDetails;
    var formData = window.completeFormData;
    var products = []
    for(var i = 0; i< orderDetail.length; i++){
        products.push ({
            'name': orderDetail[i].sku.brand.description,
            'id': orderDetail[i].sku.id,
            'price': orderDetail[i].sku.price,
            'brand': orderDetail[i].sku.brand.name,
            'category': orderDetail[i].sku.brand.description,
            'variant': orderDetail[i].sku.mainAttribute.label,
            'quantity': orderDetail[i].quantity
        })
    }
    dataLayer.push({
        'ecommerce': {
            'currencyCode': 'MXN',
            'checkout': {
                'actionField': {'step': 2, 'option': formData.paymentMethod},
                'products': products
            }
        }
    });
    //console.log ("dataLayer -> " + JSON.stringify(dataLayer));
</script>

<!-- Facebook Conversion Code for Checkout -->
<script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
    }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6025860792995', {'value':'0.00','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6025860792995&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

<!-- Scripts Google & Facebook -->
