<input id="wbi-order-bits-slider" type="text" value="{{bitsTotal}}" data-min="0" data-max="{{sliderTotal}}" data-step="1" data-moveprice="true" data-priceitem="slideInput-price" data-price="15000" data-realpriceitem="slideInput-realprice" data-realprice="20000" data-percent="slideInput-percent" data-save="500" data-saveitem="slideInput-save" class="slideInput" data-max-selection="{{getBitsMaxSelection sliderTotal}}">
<span class="legendCarrito">Usa tus bits como dinero en esta compra <a href="#">learn more</a></span>
