  <span>SUBTOTAL</span><span><em >{{formatCurrency total}}</em></span>
  <span>ENVIO</span><span><em class="slideInput-shipping">{{formatCurrency shippingTotal}}</em></span>
  <span>GANA</span>
        <span>
          <em class="iconBit bit10px">
            <em class="iconBG"></em>
            <em class="iconFont-bit"></em>
          </em> {{cashback}}</span>

