  <span>BITS UTILIZADOS</span>
        <span>
          <em class="iconBit bit10px">
            <em class="iconBG"></em>
            <em class="iconFont-bit"></em>
          </em> {{bitsTotal}}
        </span><span class="legendCarrito">Usa tus bits como dinero en esta compra <a href="#">learn more</a>
  </span>