<div class="wrapper titleTable">
  <div class="dataTable">
    <table>
      <thead>
      <tr>
        <th class="column1">Foto</th>
        <th class="column2">Descripción de Producto</th>
        <th class="column3">Comprado en</th>
        <th class="column4">Precio</th>
        <th class="columnCant">Cantidad solicitada</th>
        <th class="columnCant">Disponible para entregar</th>
        <th class="column6">Subtotal</th>
      </tr>
      </thead>
    </table>
  </div>
</div>
<div class="resumeCheckoutTable">
  <div class="wrapper">
    <div class="dataTable" id="wbi-checkout-temp-table-div">
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="totalCheckOutTemp"><span class="totalCheckOutTemp-leyend">Recuerda que puede usar tus winbits como dinero en compras. Solo mueve la moneda para aumentar la cantidad de bits que utilizas.</span>
    <div class="totalCheckOutTemp-total">
      <div class="totalCheckOutTemp-timer"><span class="timeCheckout"><em class="iconFont-clock2"></em>29:30</span></div>
      <div class="totalCheckOutTemp-subTotal"><span>SUBTOTAL</span><span>$<em class="slideInput-price">3000</em></span><span>ENVIO</span><span>$<em class="slideInput-shipping">30</em></span><span>GANA</span><span><em class="iconBit bit10px"><em class="iconBG"></em><em class="iconFont-bit"></em></em> 300</span></div>
      <div class="totalCheckOutTemp-subTotal"><span>BITS UTILIZADOS</span><span><em class="iconBit bit10px"><em class="iconBG"></em><em class="iconFont-bit"></em></em> 300</span><span class="legendCarrito">Usa tus bits como dinero en esta compra <a href="#">learn more</a></span></div>
      <div class="totalCheckOutTemp-totalTotal"><span class="checkoutTitle">TOTAL</span><span class="checkoutDetail">$<span class="slideInput-totalPrice">3000</span><span class="note">Ahorro de $<span class="slideInput-save">1200</span></span></span></div>
      <div class="totalCheckOutTemp-checkout"><a href="#" class="linkBack"><span class="iconFont-arrowLeft"></span>Regresar</a>
        <input type="submit" value="CHECK OUT" class="btn">
      </div>
    </div>
  </div>
</div>
