<div id='wb-micuenta-favorites'>
  <p>Aqui encontraras todas las marcas que haz marcado como favoritas, cuando vuelvan a alguno de nuestros sitios, te
    notificaremos via e-mail.</p>
  {{#unless favorites}}
  <div class="addInfo"><span class="iconFont-close"></span>No tienes marcas favoritas.</div>
  {{else}}
  <a href="#">ver todos</a>

  <ul>
    <li>
      <span>NIKE</span>
      <a href="#" class="iconFont-close" title="Eliminar"></a>
    </li>
    <li>
      <span>TOMMY</span>
      <a href="#" class="iconFont-close" title="Eliminar"></a>
    </li>
    <li>
      <span>BROOKS BROTHE...</span>
      <a href="#" class="iconFont-close" title="Eliminar"></a>
    </li>
    <li>
      <span>REEBOOK</span>
      <a href="#" class="iconFont-close" title="Eliminar"></a>
    </li>
    <li>
      <span>TOSHIBA</span>
      <a href="#" class="iconFont-close" title="Eliminar"></a>
    </li>
    <li>
      <span>ADIDAS</span>
      <a href="#" class="iconFont-close" title="Eliminar"></a>
    </li>
    <li>
      <span>STEVE MAIDEN</span>
      <a href="#" class="iconFont-close" title="Eliminar"></a>
    </li>
    <li>
      <span>MARC JACOBS</span>
      <a href="#" class="iconFont-close" title="Eliminar"></a>
    </li>
    <li>
      <span>SAMSUNG</span>
      <a href="#" class="iconFont-close" title="Eliminar"></a>
    </li>
    <li>
      <span>ADIR</span>
      <a href="#" class="iconFont-close" title="Eliminar"></a>
    </li>
  </ul>
  {{/unless}}
  </div>