<div class="checkoutShipping">
  <h2>DIRECCIÓN DE ENVIO<span class="circuledNumber">1</span></h2>
  <div class="shippingAddresses">
    <ul>
      <li class="shippingItem">
        <div class="shippingMenu">
          <a href="#">edit</a>
          <span class="icon closeButton">cerrar</span>
        </div>
        <h3>DIRECCIÓN 1</h3>
        <address>
          <span>Raúl Sotomayor,</span>
          <span>Marsella 7, Villa,</span>
          <span>Avaro Obregón, 01810</span>
        </address>
        <span class="note send">Tu paquete será enviado a esta dirección</span>
        <span class="note hover">Da click aqui para establecer como dirección principal</span>
        <input type="radio" name="winbitsShippingRadio" class="shippingRadio" id="winbitsShippingRadio1">
      </li>
      <li class="shippingItem shippingSelected">
        <div class="shippingMenu">
          <a href="#">edit</a>
          <span class="icon closeButton">cerrar</span>
        </div>
        <h3>DIRECCIÓN 2</h3>
        <address>
          <span>Raúl Sotomayor,</span>
          <span>Marsella 7, Villa,</span>
          <span>Avaro Obregón, 01810</span>
        </address>
        <span class="note send">Tu paquete será enviado a esta dirección</span>
        <span class="note hover">Da click aqui para establecer como dirección principal</span>
        <input type="radio" name="winbitsShippingRadio" class="shippingRadio" id="winbitsShippingRadio2" checked="checked">
      </li>
      <li class="shippingItem">
        <div class="shippingMenu">
          <a href="#">edit</a>
          <span class="icon closeButton">cerrar</span>
        </div>
        <h3>DIRECCIÓN 3</h3>
        <address>
          <span>Raúl Sotomayor,</span>
          <span>Marsella 7, Villa,</span>
          <span>Avaro Obregón, 01810</span>
        </address>
        <span class="note send">Tu paquete será enviado a esta dirección</span>
        <span class="note hover">Da click aqui para establecer como dirección principal</span>
        <input type="radio" name="winbitsShippingRadio" class="shippingRadio" id="winbitsShippingRadio3">
      </li>
      <li class="shippingItem">
        <div class="shippingMenu">
          <a href="#">edit</a>
          <span class="icon closeButton">cerrar</span>
        </div>
        <h3>DIRECCIÓN 4</h3>
        <address>
          <span>Raúl Sotomayor,</span>
          <span>Marsella 7, Villa,</span>
          <span>Avaro Obregón, 01810</span>
        </address>
        <span class="note send">Tu paquete será enviado a esta dirección</span>
        <span class="note hover">Da click aqui para establecer como dirección principal</span>
        <input type="radio" name="winbitsShippingRadio" class="shippingRadio" id="winbitsShippingRadio4">
      </li>
      <li class="shippingItem">
        <div class="shippingMenu">
          <a href="#">edit</a>
          <span class="icon closeButton">cerrar</span>
        </div>
        <h3>DIRECCIÓN 5</h3>
        <address>
          <span>Raúl Sotomayor,</span>
          <span>Marsella 7, Villa,</span>
          <span>Avaro Obregón, 01810</span>
        </address>
        <span class="note send">Tu paquete será enviado a esta dirección</span>
        <span class="note hover">Da click aqui para establecer como dirección principal</span>
        <input type="radio" name="winbitsShippingRadio" class="shippingRadio" id="winbitsShippingRadio5">
      </li>
      <li class="shippingAdd">
        <h3>AGREGAR DIRECCIÓN +</h3>
        <span>Da click para agregar</span>
      </li>
    </ul>
    <input type="submit" class="btn btnCheckout" value="Continuar">
  </div>
  <div class="shippingNewAddress">
    <form id="shippingNewAddress" accept-charset="utf-8" action="#" method="post">
      <fieldset>
        <div class="column">
          <h3>NOMBRE</h3>
          <input type="text" class="required" placeholder="Nombre" name="winbitsShippingName" id="winbitsShippingName">
          <input type="text" class="required" placeholder="Apellido" name="winbitsShippingLastname" id="winbitsShippingLastname">
        </div>
        <div class="column">
          <h3>DIRECCIÓN</h3>
          <select class="select" data-clase="selectRegister" name="winbitsShippingCountry" id="winbitsShippingCountry">
            <option>País</option>
            <option>México</option>
            <option>USA</option>
            <option>Puerto Rico</option>
          </select>
          <input type="text" placeholder="Calle" class="inputMedium required" name="winbitsShippingStreet" id="winbitsShippingStreet">
          <input type="text" placeholder="##" class="inputSmall required" name="winbitsShippingNumber" id="winbitsShippingNumber">
          <select class="select" data-clase="selectRegister" data-inputselect="true">
            <option>Colonia</option>
            <option>Anahuac</option>
            <option>Roma</option>
            <option>Lomas de Chapultepec</option>
          </select>
          <input type="text" placeholder="Ciudad" name="winbitsShippingCity" id="winbitsShippingCity">
          <input type="text" placeholder="Codigo Postal" name="winbitsShippingCP" id="winbitsShippingCP">
          <input type="text" placeholder="Teléfono" name="winbitsShippingTel" id="winbitsShippingTel">
        </div>
        <div class="column columnLarge">
          <h3>OPCIONES</h3>
          <input type="checkbox" class="checkbox" name="winbitsShippingSave" id="winbitsShippingSave">
          <label for="winbitsShippingSave" class="checkboxLabel">Guardar esta dirección</label>
          <input type="checkbox" class="checkbox" name="winbitsShippingPrincipal" id="winbitsShippingPrincipal">
          <label for="winbitsShippingPrincipal" class="checkboxLabel">Hacer esta mi dirección principal</label>
          <p class="note">Winbits puede salvar tu dirección para que en tu próxima visita tus compras sean más faciles de realizar.</p>
          <div class="errorDiv"><p></p></div>
          <div class="submitButton">
            <span class="btn btnCancel">Cancelar</span>
            <input type="submit" value="Continuar" class="btn">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

