<div class="shippingAddresses">
  <ul>
    <li class="shippingItem">
      <div class="shippingMenu">
        <a href="#">edit</a>
        <span class="icon closeButton">cerrar</span>
      </div>
      <h3>DIRECCIÓN 1</h3>
      <address>
        <span>Raúl Sotomayor,</span>
        <span>Marsella 7, Villa,</span>
        <span>Avaro Obregón, 01810</span>
      </address>
      <span class="note send">Tu paquete será enviado a esta dirección</span>
      <span class="note hover">Da click aqui para establecer como dirección principal</span>
      <input type="radio" name="winbitsShippingRadio" class="shippingRadio" id="winbitsShippingRadio1">
    </li>
    <li class="shippingItem shippingSelected">
      <div class="shippingMenu">
        <a href="#">edit</a>
        <span class="icon closeButton">cerrar</span>
      </div>
      <h3>DIRECCIÓN 2</h3>
      <address>
        <span>Raúl Sotomayor,</span>
        <span>Marsella 7, Villa,</span>
        <span>Avaro Obregón, 01810</span>
      </address>
      <span class="note send">Tu paquete será enviado a esta dirección</span>
      <span class="note hover">Da click aqui para establecer como dirección principal</span>
      <input type="radio" name="winbitsShippingRadio" class="shippingRadio" id="winbitsShippingRadio2" checked="checked">
    </li>
    <li class="shippingItem">
      <div class="shippingMenu">
        <a href="#">edit</a>
        <span class="icon closeButton">cerrar</span>
      </div>
      <h3>DIRECCIÓN 3</h3>
      <address>
        <span>Raúl Sotomayor,</span>
        <span>Marsella 7, Villa,</span>
        <span>Avaro Obregón, 01810</span>
      </address>
      <span class="note send">Tu paquete será enviado a esta dirección</span>
      <span class="note hover">Da click aqui para establecer como dirección principal</span>
      <input type="radio" name="winbitsShippingRadio" class="shippingRadio" id="winbitsShippingRadio3">
    </li>
    <li class="shippingItem">
      <div class="shippingMenu">
        <a href="#">edit</a>
        <span class="icon closeButton">cerrar</span>
      </div>
      <h3>DIRECCIÓN 4</h3>
      <address>
        <span>Raúl Sotomayor,</span>
        <span>Marsella 7, Villa,</span>
        <span>Avaro Obregón, 01810</span>
      </address>
      <span class="note send">Tu paquete será enviado a esta dirección</span>
      <span class="note hover">Da click aqui para establecer como dirección principal</span>
      <input type="radio" name="winbitsShippingRadio" class="shippingRadio" id="winbitsShippingRadio4">
    </li>
    <li class="shippingItem">
      <div class="shippingMenu">
        <a href="#">edit</a>
        <span class="icon closeButton">cerrar</span>
      </div>
      <h3>DIRECCIÓN 5</h3>
      <address>
        <span>Raúl Sotomayor,</span>
        <span>Marsella 7, Villa,</span>
        <span>Avaro Obregón, 01810</span>
      </address>
      <span class="note send">Tu paquete será enviado a esta dirección</span>
      <span class="note hover">Da click aqui para establecer como dirección principal</span>
      <input type="radio" name="winbitsShippingRadio" class="shippingRadio" id="winbitsShippingRadio5">
    </li>
    <li class="shippingAdd">
      <h3>AGREGAR DIRECCIÓN +</h3>
      <span id="aNewAddress">Da click para agregar</span>
    </li>
  </ul>
  <input type="submit" class="btn btnCheckout" value="Continuar">
</div>
<div class="shippingNewAddress">
  <form id="shippingNewAddress" accept-charset="utf-8" action="#" method="post">
    <fieldset>
      <div class="column">
        <h3>NOMBRE</h3>
        <input type="text" class="required" placeholder="Nombre" name="name" id="winbitsShippingName">
        <input type="text" class="required" placeholder="Apellido" name="lastname" id="winbitsShippingLastname">
        {{!<input type="text" class="required" placeholder="Nombre Contacto" name="contacName" id="winbitsShippingLastname">}}
      </div>
      <div class="column">
        <h3>DIRECCIÓN</h3>
        <select class="select" data-clase="selectRegister" name="country" id="winbitsShippingCountry">
          <option>País</option>
          <option value=1>México</option>
          <option value=2>USA</option>
          <option value=3>Puerto Rico</option>
        </select>
        <input type="text" placeholder="Calle" class="inputMedium required" name="street" id="winbitsShippingStreet">
        <input type="text" placeholder="##" class="inputSmall required" name="externalNumber" id="winbitsShippingNumber">
        <input type="text" placeholder="##" class="inputSmall required" name="internalNumber" id="winbitsShippingNumber">
        <select class="select" data-clase="selectRegister" data-inputselect="true">
          <option>Colonia</option>
          <option>Anahuac</option>
          <option>Roma</option>
          <option>Lomas de Chapultepec</option>
        </select>
        <input type="text" placeholder="Locacion" name="location" id="winbitsShippingCity">
        <input type="text" placeholder="Indicaciones" name="indications" id="winbitsShippingCity">
        <input type="text" placeholder="Entre que calles" name="betweenStreets" id="winbitsShippingCity">
        <input type="text" placeholder="Nombre contacto" name="contactName" id="winbitsShippingCity">
        <input type="text" placeholder="Ciudad" name="city" id="winbitsShippingCity">
        <input type="text" placeholder="Codigo Postal" name="zipCode" id="winbitsShippingCP">
        <input type="text" placeholder="Teléfono" name="phone" id="winbitsShippingTel">
        <input type="text" placeholder="Teléfono contacto" name="contactPhone" id="winbitsShippingTel">
      </div>
      <div class="column columnLarge">
        <h3>OPCIONES</h3>
        <input type="checkbox" class="checkbox" name="winbitsShippingSave" id="winbitsShippingSave">
        <label for="winbitsShippingSave" class="checkboxLabel">Guardar esta dirección</label>
        <input type="checkbox" class="checkbox" name="principal" id="winbitsShippingPrincipal">
        <label for="winbitsShippingPrincipal" class="checkboxLabel">Hacer esta mi dirección principal</label>
        <p class="note">Winbits puede salvar tu dirección para que en tu próxima visita tus compras sean más faciles de realizar.</p>
        <div class="errorDiv"><p></p></div>
        <div class="submitButton">
          <span id="btnCancel" class="btn btnCancel">Cancelar</span>
          <input id="btnSubmit" type="btn" value="Continuar" class="btn">
        </div>
      </div>
    </fieldset>
  </form>
</div>
