<header>
  <div class="widgetWinbitsHeader">
    <div class="knowmoreFolder">
      <div class="wrapper">
        <div class="knowMoreMax">
          <a href="#" class="icon winbits22px">Logo Winbits</a>
          <p>UNA SOLA CUENTA, UN SOLO CHECK OUT, <br>Y EN TODOS GANAS WINBITS.</p>
          <ul>
            <li>
              <span class="icon shopCar">Shop Car</span>
              <p>COMPRA<br>Y GANA WINBITS</p>
            </li>
            <li>
              <a href="#" target="_blank" class="icon twitter">Twitter</a>
              <a href="#" target="_blank" class="icon facebook">Facebook</a>
              <p>COMPARTE<br>Y GANA WINBITS</p>
            </li>
            <li>
              <span class="icon winbitsEqualToMoney">Winbits = Money</span>
              <p>USA TUS WINBITS COMO<br>DINERO ELECTRÓNICO</p>
            </li>
          </ul>
          <fieldset>
            <label>INSCRIBETE AHORA</label>
            <input type="text" placeholder="Email" class="emailJoinNow" name="winbitsEmailJoinNow" id="winbitsEmailJoinNow">
            <span class="btn btnSmall">Join Now</span>
          </fieldset>
          <span class="icon closeFolder openClose"></span>
        </div>
        <div class="knowMoreMin">
          <p>Compra en nuestro sitio y gana! <a href="#">Conoce mas.</a>
            <span class="icon openFolder openClose"></span>
          </div>
        </div>
      </div>
      <div class="mainHeader">
        <div class="wrapper">
          <div class="winbitsLogoDiv">
            <span class="icon winbitsLogo"></span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main class="widgetWinbitsMain">
  <div class="wrapper checkoutWinbits">
    <div class="checkoutMain">
      <div class="checkoutShipping">
        <h2>DIRECCIÓN DE ENVIO<span class="circuledNumber">1</span></h2>
        <div class="shippingAddresses">
          <ul>
            <li class="shippingItem">
              <div class="shippingMenu">
                <a href="#">edit</a>
                <span class="icon closeButton">cerrar</span>
              </div>
              <h3>DIRECCIÓN 1</h3>
              <address>
                <span>Raúl Sotomayor,</span>
                <span>Marsella 7, Villa,</span>
                <span>Avaro Obregón, 01810</span>
              </address>
              <span class="note send">Tu paquete será enviado a esta dirección</span>
              <span class="note hover">Da click aqui para establecer como dirección principal</span>
              <input type="radio" name="winbitsShippingRadio" class="shippingRadio" id="winbitsShippingRadio1">
            </li>
            <li class="shippingItem shippingSelected">
              <div class="shippingMenu">
                <a href="#">edit</a>
                <span class="icon closeButton">cerrar</span>
              </div>
              <h3>DIRECCIÓN 2</h3>
              <address>
                <span>Raúl Sotomayor,</span>
                <span>Marsella 7, Villa,</span>
                <span>Avaro Obregón, 01810</span>
              </address>
              <span class="note send">Tu paquete será enviado a esta dirección</span>
              <span class="note hover">Da click aqui para establecer como dirección principal</span>
              <input type="radio" name="winbitsShippingRadio" class="shippingRadio" id="winbitsShippingRadio2" checked="checked">
            </li>
            <li class="shippingItem">
              <div class="shippingMenu">
                <a href="#">edit</a>
                <span class="icon closeButton">cerrar</span>
              </div>
              <h3>DIRECCIÓN 3</h3>
              <address>
                <span>Raúl Sotomayor,</span>
                <span>Marsella 7, Villa,</span>
                <span>Avaro Obregón, 01810</span>
              </address>
              <span class="note send">Tu paquete será enviado a esta dirección</span>
              <span class="note hover">Da click aqui para establecer como dirección principal</span>
              <input type="radio" name="winbitsShippingRadio" class="shippingRadio" id="winbitsShippingRadio3">
            </li>
            <li class="shippingItem">
              <div class="shippingMenu">
                <a href="#">edit</a>
                <span class="icon closeButton">cerrar</span>
              </div>
              <h3>DIRECCIÓN 4</h3>
              <address>
                <span>Raúl Sotomayor,</span>
                <span>Marsella 7, Villa,</span>
                <span>Avaro Obregón, 01810</span>
              </address>
              <span class="note send">Tu paquete será enviado a esta dirección</span>
              <span class="note hover">Da click aqui para establecer como dirección principal</span>
              <input type="radio" name="winbitsShippingRadio" class="shippingRadio" id="winbitsShippingRadio4">
            </li>
            <li class="shippingItem">
              <div class="shippingMenu">
                <a href="#">edit</a>
                <span class="icon closeButton">cerrar</span>
              </div>
              <h3>DIRECCIÓN 5</h3>
              <address>
                <span>Raúl Sotomayor,</span>
                <span>Marsella 7, Villa,</span>
                <span>Avaro Obregón, 01810</span>
              </address>
              <span class="note send">Tu paquete será enviado a esta dirección</span>
              <span class="note hover">Da click aqui para establecer como dirección principal</span>
              <input type="radio" name="winbitsShippingRadio" class="shippingRadio" id="winbitsShippingRadio5">
            </li>
            <li class="shippingAdd">
              <h3>AGREGAR DIRECCIÓN +</h3>
              <span>Da click para agregar</span>
            </li>
          </ul>
          <input type="submit" class="btn btnCheckout" value="Continuar">
        </div>
        <div class="shippingNewAddress">
          <form id="shippingNewAddress" accept-charset="utf-8" action="#" method="post">
            <fieldset>
              <div class="column">
                <h3>NOMBRE</h3>
                <input type="text" class="required" placeholder="Nombre" name="winbitsShippingName" id="winbitsShippingName">
                <input type="text" class="required" placeholder="Apellido" name="winbitsShippingLastname" id="winbitsShippingLastname">
              </div>
              <div class="column">
                <h3>DIRECCIÓN</h3>
                <select class="select" data-clase="selectRegister" name="winbitsShippingCountry" id="winbitsShippingCountry">
                  <option>País</option>
                  <option>México</option>
                  <option>USA</option>
                  <option>Puerto Rico</option>
                </select>
                <input type="text" placeholder="Calle" class="inputMedium required" name="winbitsShippingStreet" id="winbitsShippingStreet">
                <input type="text" placeholder="##" class="inputSmall required" name="winbitsShippingNumber" id="winbitsShippingNumber">
                <select class="select" data-clase="selectRegister" data-inputselect="true">
                  <option>Colonia</option>
                  <option>Anahuac</option>
                  <option>Roma</option>
                  <option>Lomas de Chapultepec</option>
                </select>
                <input type="text" placeholder="Ciudad" name="winbitsShippingCity" id="winbitsShippingCity">
                <input type="text" placeholder="Codigo Postal" name="winbitsShippingCP" id="winbitsShippingCP">
                <input type="text" placeholder="Teléfono" name="winbitsShippingTel" id="winbitsShippingTel">
              </div>
              <div class="column columnLarge">
                <h3>OPCIONES</h3>
                <input type="checkbox" class="checkbox" name="winbitsShippingSave" id="winbitsShippingSave">
                <label for="winbitsShippingSave" class="checkboxLabel">Guardar esta dirección</label>
                <input type="checkbox" class="checkbox" name="winbitsShippingPrincipal" id="winbitsShippingPrincipal">
                <label for="winbitsShippingPrincipal" class="checkboxLabel">Hacer esta mi dirección principal</label>
                <p class="note">Winbits puede salvar tu dirección para que en tu próxima visita tus compras sean más faciles de realizar.</p>
                <div class="errorDiv"><p></p></div>
                <div class="submitButton">
                  <span class="btn btnCancel">Cancelar</span>
                  <input type="submit" value="Continuar" class="btn">
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="checkoutPayment">
        <h2>INFORMACIÓN DE PAGO <span class="circuledNumber">2</span></h2>
      </div>
      <div class="checkoutSummary">
        <h2>RESUMEN <span class="circuledNumber">3</span></h2>
      </div>
    </div>
    <aside>
      <h2>TU ORDEN <span class="timeCheckout"><em class="icon timer"></em>29:30</span></h2>
      <ul>
        <li>
          <a href="#"><img src="winbitsInclude/images/assets/blackDress-tiny.jpg" width="28" height="36" alt="LACE OFF THE SHOULDER DRESS"></a>
          <p>LACE OFF THE SHOULDER DRESS
            <span>(1)  Black, small</span>
          </p>
        </li>
        <li>
          <a href="#"><img src="winbitsInclude/images/assets/blackDress-tiny.jpg" width="28" height="36" alt="LACE OFF THE SHOULDER DRESS"></a>
          <p>LACE OFF THE SHOULDER DRESS
            <span>(1)  Black, small</span>
          </p>
        </li>
        <li>
          <a href="#"><img src="winbitsInclude/images/assets/blackDress-tiny.jpg" width="28" height="36" alt="LACE OFF THE SHOULDER DRESS"></a>
          <p>LACE OFF THE SHOULDER DRESS
            <span>(1)  Black, small</span>
          </p>
        </li>
        <li>
          <a href="#"><img src="winbitsInclude/images/assets/blackDress-tiny.jpg" width="28" height="36" alt="LACE OFF THE SHOULDER DRESS"></a>
          <p>LACE OFF THE SHOULDER DRESS
            <span>(1)  Black, small</span>
          </p>
        </li>
      </ul>
      <div class="checkoutSubtotal">
        <span>SUBTOTAL</span>
        <span>$3,000.00</span>
        <span>ENVIO</span>
        <span>GRATIS</span>
        <span>GANAS</span>
        <span><span class="icon winbits10px"></span>300</span>
      </div>
      <input type="text" value="300" data-min="0" data-max="599" data-step="2" class="slideInput">
      <span class="legendCarrito">Usa tus bits como dinero en esta compra <a href="#">learn more</a></span>
      <div class="checkoutTotal">
        <span class="checkoutTitle">TOTAL</span>
        <span class="checkoutDetail">$3,000.00
          <span class="note">Ahorro de $1,200.00</span></span>
      </div>
    </aside>
  </div>
  </main>
  <footer>
    <div class="widgetWinbitsFooter">
      <div class="wrapper">
        <div class="logo">
          <a href="#" class="icon winbits19px">Logo Winbits</a>
        </div>
        <nav>
          <ul>
            <li><a href="#">Welcome</a></li>
            <li><a href="#">My account</a></li>
            <li><a href="#">Need Help?</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">International</a></li>
          </ul>
          <ul>
            <li><a href="#">Welcome</a></li>
            <li><a href="#">My account</a></li>
            <li><a href="#">Need Help?</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">International</a></li>
          </ul>
          <ul>
            <li><a href="#">Welcome</a></li>
            <li><a href="#">My account</a></li>
            <li><a href="#">Need Help?</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">International</a></li>
          </ul>
          <ul>
            <li><a href="#">Welcome</a></li>
            <li><a href="#">My account</a></li>
            <li><a href="#">Need Help?</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">International</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>

