<div class="wrapper titleTable">
  <div class="dataTable">
    <table>
      <thead>
      <tr>
        <th class="column1">Foto</th>
        <th class="column2">Descripción de Producto</th>
        <th class="column3">Comprado en</th>
        <th class="column4">Precio</th>
        <th class="column5">Cantidad</th>
        <th class="column6">Subtotal</th>
        <th class="column7">Quitar</th>
      </tr>
      </thead>
    </table>
  </div>
</div>
<div class="resumeCheckoutTable">
  <div class="wrapper">
    <div class="dataTable">
      <table>
        <tbody>
        <tr>
          <td class="column1 imgProductTD"><img src="winbitsInclude/images/assets/blackDress-small.jpg" width="61" height="78" alt="LACE OFF THE SHOULDER DRESS"></td>
          <td class="column2">
            LACE OFF THE SHOLDER DRESS<br>
            Pull &amp; Bear
            <span>color: black</span>
            <span>size: small</span>
          </td>
          <td class="column3">Looq</td>
          <td class="column4">$300.00</td>
          <td class="column5"><input type="text" value="1" class="inputStepper"></td>
          <td class="column6">$300.00</td>
          <td class="column7"><input type="submit" value="Quitar" class="icon closeButton"></td>
        </tr>
        <tr>
          <td class="column1 imgProductTD"><img src="winbitsInclude/images/assets/blackDress-small.jpg" width="61" height="78" alt="LACE OFF THE SHOULDER DRESS"></td>
          <td class="column2">
            LACE OFF THE SHOLDER DRESS<br>
            Pull &amp; Bear
            <span>color: black</span>
            <span>size: small</span>
          </td>
          <td class="column3">Looq</td>
          <td class="column4">$300.00</td>
          <td class="column5"><input type="text" value="1" class="inputStepper"></td>
          <td class="column6">$300.00</td>
          <td class="column7"><input type="submit" value="Quitar" class="icon closeButton"></td>
        </tr>
        <tr>
          <td class="column1 imgProductTD"><img src="winbitsInclude/images/assets/blackDress-small.jpg" width="61" height="78" alt="LACE OFF THE SHOULDER DRESS"></td>
          <td class="column2">
            LACE OFF THE SHOLDER DRESS<br>
            Pull &amp; Bear
            <span>color: black</span>
            <span>size: small</span>
          </td>
          <td class="column3">Looq</td>
          <td class="column4">$300.00</td>
          <td class="column5"><input type="text" value="1" class="inputStepper"></td>
          <td class="column6">$300.00</td>
          <td class="column7"><input type="submit" value="Quitar" class="icon closeButton"></td>
        </tr>
        <tr>
          <td class="column1 imgProductTD"><img src="winbitsInclude/images/assets/blackDress-small.jpg" width="61" height="78" alt="LACE OFF THE SHOULDER DRESS"></td>
          <td class="column2">
            LACE OFF THE SHOLDER DRESS<br>
            Pull &amp; Bear
            <span>color: black</span>
            <span>size: small</span>
          </td>
          <td class="column3">Looq</td>
          <td class="column4">$300.00</td>
          <td class="column5"><input type="text" value="1" class="inputStepper"></td>
          <td class="column6">$300.00</td>
          <td class="column7"><input type="submit" value="Quitar" class="icon closeButton"></td>
        </tr>
        <tr>
          <td class="column1 imgProductTD"><img src="winbitsInclude/images/assets/blackDress-small.jpg" width="61" height="78" alt="LACE OFF THE SHOULDER DRESS"></td>
          <td class="column2">
            LACE OFF THE SHOLDER DRESS<br>
            Pull &amp; Bear
            <span>color: black</span>
            <span>size: small</span>
          </td>
          <td class="column3">Looq</td>
          <td class="column4" colspan="3">
            <div class="productUnavailable">
              <p>Lo sentimos</p>
              <p>Este producto ya no esta disponible</p>
            </div>
          </td>
          <td class="column7"><input type="submit" value="Quitar" class="icon closeButton"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="totalCheckOutTemp">
    <span class="totalCheckOutTemp-leyend">Recuerda que puede usar tus winbits como dinero en compras. Solo mueve la moneda para aumentar la cantidad de bits que utilizas.</span>
    <div class="totalCheckOutTemp-total">
      <div class="totalCheckOutTemp-timer">
        <span class="timeCheckout"><em class="icon timer"></em>29:30</span>
      </div>
      <div class="totalCheckOutTemp-subTotal">
        <span>SUBTOTAL</span>
        <span>$3,000.00</span>
        <span>ENVIO</span>
        <span>FREE</span>
        <span>GANA</span>
        <span><em class="icon winbits10px"></em>300</span>
      </div>
      <div class="totalCheckOutTemp-slider">
        <input type="text" value="300" data-min="0" data-max="599" data-step="2" class="slideInput">
        <span class="legendCarrito">Usa tus bits como dinero en esta compra <a href="#">learn more</a></span>
      </div>
      <div class="totalCheckOutTemp-totalTotal">
        <span class="checkoutTitle">TOTAL</span>
                            <span class="checkoutDetail">$3,000.00
                            <span class="note">Ahorro de $1,200.00</span></span>
      </div>
      <div class="totalCheckOutTemp-checkout">
        <a href="#" class="linkBack"><em class="icon backBtn"></em> Regresar</a>
        <input type="submit" value="CHECK OUT" class="btn">
      </div>
    </div>
  </div>
</div>