lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
.idea
public/
node_modules/.bin/
node_modules/
widgets.iml
.tmp/resources
.tmp
app/config.coffee
node_modules/clean-css-brunch
node_modules/coffee-script-brunch
node_modules/css-brunch
node_modules/handlebars-brunch
node_modules/javascript-brunch
node_modules/stylus-brunch
node_modules/uglify-js-brunch
app/config.coffee
app/assets/index.html
app/assets/winbits.js
app/assets/winbits.html

atlassian-ide-plugin.xml
