<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <noscript>
      <meta http-equiv="Refresh" content="0;URL="include/disabledJavaScript.html">
  </noscript> -->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="icon" href="images/favicon.ico" type="image/vnd.microsoft.icon">

  <link rel="author" href="humans.txt">
  <title>Looq</title>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/fancybox.png">
  <script type="text/javascript" src="{{baseUrl}}/winbits.js" data-vertical="2"></script>
</head>
<body>
<header></header>
<main>
    <div class="wrapper">
        <img src="winbitsInclude/images/looq_home_980.jpg" alt="">
    </div>
</main>
<footer></footer>
</body>
</html>

