<div class="column">
  <h3>Historial de Compras</h3>
  <p>Entrega Pendiente <span>0</span></p>
  <a href="#">Ver Historial de Compras completo</a>
</div>
<div class="column">
  <h3>Tus Bits</h3>
  <p>Tienes <span>0</span> Bits</p>
  <a href="#">Ver Historial de Bits completo</a>
</div>