<div class="column">
  <h3>Historial de Compras</h3>
  <p>Entrega Pendiente <span id='wbi-account-order-count' >{{pendingOrderCount}}</span></p>
  <a id="wbi-account-order-history-link" href="#wb-shipping-order-history" class="wb-hash-link" >Ver Historial de Compras completo</a>
</div>
<div class="column">
  <h3>Tus Bits</h3>
  <p>Tienes <span id="wbi-account-bits-total">{{formatWithComma bitsTotal}}</span> Bits</p>
  <a id="wbi-account-bits-total-link" href="#wb-bits-history" class="wb-hash-link">Ver Historial de Bits completo</a>
</div>