  <form method="post" action="#" accept-charset="utf-8" id="wbi-change-password-form">
    <h3>CAMBIAR PASSWORD</h3>
    <input type="password" name="password" class="requiredField"
           placeholder="Password Actual" data-requiredfield="Password Actual Requerido" value="{{password}}">
    <input type="password" name="newPassword" class="requiredField"
           placeholder="Nuevo Password" data-requiredfield="Nuevo Password Requerido" value="{{newPassword}}">
    <input type="password" name="passwordConfirm"
           placeholder="Confirmar Nuevo Password" value="{{passwordConfirm}}">
    <input type="button" value="Guardar" class="btn editBtn" id="wbi-change-password-btn">
  </form>
  <div class="thanks-div">
    <div class="data">
      <p>Procesando información</p>
      <div class="loader"></div>
    </div>
    <div class="data" style="display: none">
      <p>Tus datos quedaron guardados</p>
      <a href="#" class="btn">Cerrar</a>
    </div>
  </div>
