<form id="bodyModal" accept-charset="utf-8" action="#" method="post">
  <div class="mainModal completaRegistro">
    <div class="contentModal preCheckout">
      <div class="loaderDiv loader-hide">
        <div class="loader-div">
          <div class="loader"></div>
          <div class="loader-txtLarge">Eliminando producto,<br>espere un momento por favor...</div>
        </div>
        <div class="confirmationContent loader-hide">
          <div class="confirmation-icon"><span class="iconFont-close"></span></div>
          <div class="confirmation-content">
            <p>¿Esta seguro que desea eliminar el producto?</p>
            <div class="confirmation-submit"><a href="#" class="btn bnt-cancel">Cancelar</a>
              <input type="submit" value="Aceptar" class="btn btnCart">
            </div>
          </div>
        </div>
      </div>
      <h2>Los items que se muestran a continuación no podrán surtise completamente. Te invitamos a no perderte de nuestras ofertas publicadas para ti.</h2>
      <div class="dataTable">
        <table>
          <thead>
          <tr>
            <th colspan="2" class="preCheckout-c1">Producto</th>
            <th class="preCheckout-c2">Cantidad solicitada</th>
            <th class="preCheckout-c3">Disponible para entregar</th>
          </tr>
          </thead>
        </table>
        <div data-content="productTable-content" class="productTable scrollPanel">
          <div class="productTable-content">
            <table>
              <tbody>
              <tr>
                <td class="preCheckout-delete"><a title="Eliminar" href="#" class="iconFont-close"></a>
                </td>
                <td>
                  <div class="preCheckout-product"><img src="winbitsInclude/images/assets/jeans-tiny.jpg" alt="Denim looq Leggings" class="preCheckout-img">
                    <p class="preCheckout-item">Denim looq Leggings</p>
                    <p class="preCheckout-carac">Talla: 32</p>
                    <p class="preCheckout-carac">Color: Negro</p><span title="My Looq" class="iconVertical-t vertical2"></span>
                  </div>
                </td>
                <td class="preCheckout-c2">2</td>
                <td class="preCheckout-c3">1</td>
              </tr>
              <tr>
                <td class="preCheckout-delete"><a title="Eliminar" href="#" class="iconFont-close"></a>
                </td>
                <td>
                  <div class="preCheckout-product"><img src="winbitsInclude/images/assets/jeans-tiny.jpg" alt="Denim looq Leggings" class="preCheckout-img">
                    <p class="preCheckout-item">Denim looq Leggings</p>
                    <p class="preCheckout-carac">Talla: 32</p>
                    <p class="preCheckout-carac">Color: Negro</p><span title="My Looq" class="iconVertical-t vertical2"></span>
                  </div>
                </td>
                <td class="preCheckout-c2">3</td>
                <td class="preCheckout-c3">2</td>
              </tr>
              <tr>
                <td class="preCheckout-delete">
                </td>
                <td>
                  <div class="preCheckout-product"><img src="winbitsInclude/images/assets/jeans-tiny.jpg" alt="Denim looq Leggings" class="preCheckout-img">
                    <p class="preCheckout-item">Denim looq Leggings</p>
                    <p class="preCheckout-carac">Talla: 32</p>
                    <p class="preCheckout-carac">Color: Negro</p><span title="My Looq" class="iconVertical-t vertical2"></span>
                  </div>
                </td>
                <td colspan="2" class="preCheckout-c4">Producto no disponible</td>
              </tr>
              <tr>
                <td class="preCheckout-delete">
                </td>
                <td>
                  <div class="preCheckout-product"><img src="winbitsInclude/images/assets/jeans-tiny.jpg" alt="Denim looq Leggings" class="preCheckout-img">
                    <p class="preCheckout-item">Denim looq Leggings</p>
                    <p class="preCheckout-carac">Talla: 32</p>
                    <p class="preCheckout-carac">Color: Negro</p><span title="My Looq" class="iconVertical-t vertical2"></span>
                  </div>
                </td>
                <td colspan="2" class="preCheckout-c4"> <a href="#" class="btn btnCart">Agregar a Lista de Espera</a></td>
              </tr>
              <tr>
                <td class="preCheckout-delete">
                </td>
                <td>
                  <div class="preCheckout-product"><img src="winbitsInclude/images/assets/jeans-tiny.jpg" alt="Denim looq Leggings" class="preCheckout-img">
                    <p class="preCheckout-item">Denim looq Leggings</p>
                    <p class="preCheckout-carac">Talla: 32</p>
                    <p class="preCheckout-carac">Color: Negro</p><span title="My Looq" class="iconVertical-t vertical2"></span>
                  </div>
                </td>
                <td class="preCheckout-c2">6</td>
                <td class="preCheckout-c3">5</td>
              </tr>
              <tr>
                <td class="preCheckout-delete">
                </td>
                <td>
                  <div class="preCheckout-product"><img src="winbitsInclude/images/assets/jeans-tiny.jpg" alt="Denim looq Leggings" class="preCheckout-img">
                    <p class="preCheckout-item">Denim looq Leggings</p>
                    <p class="preCheckout-carac">Talla: 32</p>
                    <p class="preCheckout-carac">Color: Negro</p><span title="My Looq" class="iconVertical-t vertical2"></span>
                  </div>
                </td>
                <td class="preCheckout-c2">7</td>
                <td class="preCheckout-c3">6</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="preCheckout-submit"><a href="#" class="btn">Vaciar carrito</a><a href="#" class="btn btnCart">Continuar</a></div>
    </div>
  </div>
</form>
