  <form id="login-form" accept-charset="utf-8" action="#" method="post" style="margin: 0;">
    <div class="mainModal login">
      <div class="contentModal">
        <fieldset>
          <h1>Bienvenido a <small><span class="icon winbits23px">Winbits</span></small></h1>
          <input type="text" placeholder="Email" class="required" email="true" name="email">
          <input type="password" placeholder="Password" class="required" name="password">
          <input type="checkbox" value="rememberMe" name="rememberMe" class="checkbox">
          <label class="checkboxLabel">Recuérdame</label>
          <div class="errors"></div>
          <input type="submit" class="btn" id="form-login-btn" value="Log in">
          <p class="forgotRegister">¿Olvidaste tu password? <a href="#">haz click aquí</a></p>
          <p class="forgotRegister">¿No estas registrado? <a href="#register-layer" class="fancybox">haz click aquí</a></p>
        </fieldset>
      </div>
      <footer class="widgetWinbitsFooter facebook-btn-holder">
        <!--<a href="#" class="btnFacebook"><span class="icon facebookWhite"></span>Log in with Facebook</a>-->
      </footer>
    </div>
  </form>
