<a id="wbi-promo-modal-link" href="#">
    <img id="wbi-promo-modal" src="//wb.widget.winbits.com.s3.amazonaws.com/promociones/bebitos/bebitosRelease.jpg" alt="[banner-overlay]" width="759" height="515">
</a>
