<div class="wrapper">
  <div class="miCuenta-tabs">
    <div class="wb-history-header"></div>
  </div>
</div>
<div class="wrapper historical">
  <div class="wrapper positionRelative">
    <h2 class="winbitsH2">Historial de Compras</h2>
    <div class="accordeonContent">
  {{#unless orders}}
      <div class="addInfo"><span class="iconFont-close"></span> No tienes compras en nuestra nueva plataforma, para ver tus compras anteriores da click abajo</div>
  {{else}}
    <br><br>
    {{!<div class="accordeonSelectDiv">
     <select class="select" data-clase="selectRegister">
       <option>Estatus</option>
       <option>Item 1</option>
       <option>Item 2</option>
       <option>Item 3</option>
       <option>Item 4</option>
     </select>
     <select class="select" data-clase="selectRegister">
       <option>Ordenar por...</option>
       <option>Item 1</option>
       <option>Item 2</option>
       <option>Item 3</option>
       <option>Item 4</option>
     </select>
    </div>}}
    <div class="dataTable">
        <div class="dataTable-header">
            <span class="dataTable-desc">DESCRIPCIÓN</span>
            <span class="dataTable-photo">FOTO</span>
            <span class="dataTable-prod">DESCRIPCIÓN DEL PRODUCTO</span>
            <span class="dataTable-cant">CANT.</span>
            <span class="dataTable-status">ESTATUS</span>
            <span class="dataTable-num"># DE RASTREO</span>
            <span class="dataTable-site">SITIO</span></div>
     <div id="wbi-shipping-order-history-table-div">

     </div>
     <div class="dataTable-pager" id="wbi-shipping-order-history-paginator">
     </div>
    </div>
    {{/unless}}
        </div>
      </div>
      <div class="wrapper finalHistory">
        {{#if clickoneroId}}
          <h2 class="winbitsH2">Historial de compras<small>(Antes del 21 de Noviembre de 2014)</small><a data-clickoneroid="{{clickoneroId}}" id="wbi-old-orders-history" href="#">Ver Historial</a></h2>
        {{else}}
            {{#if isFrombebitos}}
                <h2 class="winbitsH2">Historial de compras<small>(Antes del 21 de Noviembre de 2014)</small><a data-clickoneroid="" id="wbi-old-orders-history" href="#">Ver Historial</a></h2>
            {{/if}}
        {{/if}}
        <input id="wbi-shipping-order-history-btn-back" type="submit" value="Volver al sitio" class="btn btnBackToSite">
      </div>
</div>
