<div class="wrapper historical">
  <div>
    <h2>Historial de Compras</h2>
    <div class="accordeonContent">
{{#unless orders}}
      <div class="addInfo"><span class="iconFont-close"> No tienes compras.</span></div>
{{else}}
      <div class="accordeonSelectDiv">
        <select class="select" data-clase="selectRegister">
          <option>Estatus</option>
          <option>Item 1</option>
          <option>Item 2</option>
          <option>Item 3</option>
          <option>Item 4</option>
        </select>
        <select class="select" data-clase="selectRegister">
          <option>Ordenar por...</option>
          <option>Item 1</option>
          <option>Item 2</option>
          <option>Item 3</option>
          <option>Item 4</option>
        </select>
      </div>
      <div class="dataTable">
        <div class="dataTable-header">
          <span class="dataTable-desc">DESCRIPCIÓN</span>
          <span class="dataTable-photo">FOTO</span>
          <span class="dataTable-prod">DESCRIPCIÓN DEL PRODUCTO</span>
          <span class="dataTable-cant">CANT.</span>
          <span class="dataTable-status">ESTATUS</span>
          <span class="dataTable-num"># DE RASTREO</span>
          <span class="dataTable-site">SITIO</span>
        </div>
        <div id="wbi-shipping-order-history-table-div">

        </div>
        <div class="dataTable-pager">
          <p>Página 1 de 14</p>
          <ul>
            <li class="pager-prev"><a href="#"><span class="iconFont-arrowLeft"></span> Ant</a></li>
            <li><a href="">1</a></li>
            <li><a href="#">2</a></li>
            <li class="pager-current">3</li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>...</li>
            <li><a href="#">10</a></li>
            <li><a href="#">11</a></li>
            <li><a href="#">12</a></li>
            <li><a href="#">13</a></li>
            <li><a href="#">14</a></li>
            <li class="pager-next"><a href="#">Sig <span class="iconFont-arrowRight"></span></a></li>
          </ul>
        </div>
      </div>
{{/unless}}
    </div>
  </div>
  <input id="wbi-shipping-order-history-btn-back" type="submit" value="Back to site" class="btn btnBackToSite">
</div>