<form id="miCuenta-mobile" class="wbc-activation-mobile-form" accept-charset="utf-8" action="#" method="post">
    <h3>VERIFICACIÓN MÓVIL</h3>
    <p style="text-align: justify;">Para poder participar en nuestras promociones, ingresa el código que te hemos enviado al tu celular para confirmar la autenticidad de tu cuenta.</p>
    <input id="wbi-ask-cell-input" name="code" type="text" placeholder="Código" maxlength="5">
    <input id="wbi-validate-button" type="button" value="Validar código" class="btn editBtn">
    <p style="text-align: justify;">Si necesitas que te enviemos el código de nuevo <a id="wbi-resend-label" href="#"> haz click aquí</a>.</p>
    <p style="text-align: justify;">Si quieres cambiar tu teléfono, modifícalo en tus datos personales. El código se enviará de nuevo a tu celular <a id="wbi-resend-label2" href="#"> haciendo click aquí</a>.</p>
</form>