<form id="miCuenta-mobile" accept-charset="utf-8" action="#" method="post">
    <h3>VERIFICACIÓN MÓVIL</h3>
    <p>Ya te hemos enviado a tu celular un código para confirmar la autenticidad de tu cuenta al teléfono:</p>
    <span class="asck-cell">55 31 99 99 99</span><a href="#">Cambiar el teléfono</a><a href="#">Enviar el código nuevamente</a>
    <input type="submit" value="Validar código" class="btn editBtn">
</form>