<form id="bodyModal" class="wbc-activation-mobile-form" accept-charset="utf-8" action="#" method="post">
    <div class="mainModal askcellphone">
        <div class="contentModal">
            <div class="winbit-color iconWinbits95px"><span class="iconFont-winbits"></span><span class="iconBG firstI"></span><span class="iconBG secondI"></span></div>
            <p>Hemos enviado un código al celular: </p>
            <span class="asck-cell">{{mobile}}</span>
            <a id="wbi-change-activation-mobile" href="#" class="blueNote">Cambiar número celular</a>
            <label for="code">INGRESA TU CÓDIGO:</label>
            <input id="wbi-activation-input" name="code" type="text" placeholder="Código" maxlength="5">
            <a id="wbi-resend-activation-code" href="#" class="blueNote">Enviar código de nuevo</a>
            <input id="wbi-activation-button" type="submit" value="Confirmar código" class="btn btnCart">
        </div>
    </div>
</form>