<ul>
<li id="wbi-my-account-container">
<span class="spanDropMenu link" id="wbi-my-account-link">Mi Cuenta<span class="icon trigger triggerMiCuenta"></span></span>
</li>
<li class="bits" id="wbi-my-bits">{{bitsBalance}}<span class="icon bit16px"></span></li>
<li id="wbi-user-cart"></li>
<li><input type="submit" value="Check Out" class="btn btnTopNav" id="wbi-checkout-btn"></li>
</ul>
