<ul>
<li>
<span class="spanDropMenu link">Mi Cuenta<span class="icon trigger triggerMiCuenta"></span></span>
<div id="wbi-my-account-div" class="dropMenu miCuentaDiv" style="display: none;">
<span class="icon triangle"></span>
<div class="wrapper">
<div class="miCuenta-tabs">

</div>
</div>
</div>
</li>
<li class="bits">{{bitsBalance}}<span class="icon bit16px"></span></li>
<li>
    <span class="spanDropMenu"> <span class="icon shopCarMin"></span></span>
    <div class="dropMenu miCarritoDiv" style="display: none;">
        <span class="icon triangle2"></span>
        <div class="wrapper">
            <div class="carContenido">
                <div class="carritoDivLeft">
                    <div data-content="carritoContent" class="carritoContainer scrollPanel jspScrollable" style="overflow: hidden; padding: 0px; width: 340px;" tabindex="0">

                        <div class="jspContainer" style="width: 340px; height: 352px;"><div class="jspPane" style="padding: 0px; width: 331px; top: 0px;"><div class="carritoContent">
                            <ul>
                                <li>
                                    <a href="#"><img alt="Denim looq Leggings" class="imgItem" src="winbitsInclude/images/assets/jeans-tiny.jpg"></a>
                                    <p class="descriptionItem">Denim looq Leggings</p>
                                    <p class="caracItem">Talla: 32, Color: Negro</p>
                                    <label>Cantidad:</label>
                                    <div class="selectContainer selectRegister"><select data-inputselect="true" data-clase="selectRegister" class="select selectHidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select><input type="text" class="selectContent" placeholder="1"><span class="icon selectTrigger"></span><ul class="selectOptions"><li rel="1">1</li><li rel="2">2</li><li rel="3">3</li><li rel="4">4</li><li rel="5">5</li></ul></div>
                                    <p class="priceItem">$350.00</p>
                                    <span class="icon looqLogoSmall">LOOQ</span>
                                    <span class="icon closeButton"><a href="#">eliminar</a></span>
                                </li>
                                <li>
                                    <a href="#"><img alt="Denim looq Leggings" class="imgItem" src="winbitsInclude/images/assets/jeans-tiny.jpg"></a>
                                    <p class="descriptionItem">Denim looq Leggings</p>
                                    <p class="caracItem">Talla: 32, Color: Negro</p>
                                    <label>Cantidad:</label>
                                    <div class="selectContainer selectRegister"><select data-inputselect="true" data-clase="selectRegister" class="select selectHidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select><input type="text" class="selectContent" placeholder="1"><span class="icon selectTrigger"></span><ul class="selectOptions"><li rel="1">1</li><li rel="2">2</li><li rel="3">3</li><li rel="4">4</li><li rel="5">5</li></ul></div>
                                    <p class="priceItem">$350.00</p>
                                    <span class="icon looqLogoSmall">LOOQ</span>
                                    <span class="icon closeButton"><a href="#">eliminar</a></span>
                                </li>
                                <li>
                                    <a href="#"><img alt="Denim looq Leggings" class="imgItem" src="winbitsInclude/images/assets/jeans-tiny.jpg"></a>
                                    <p class="descriptionItem">Denim looq Leggings</p>
                                    <p class="caracItem">Talla: 32, Color: Negro</p>
                                    <label>Cantidad:</label>
                                    <div class="selectContainer selectRegister"><select data-inputselect="true" data-clase="selectRegister" class="select selectHidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select><input type="text" class="selectContent" placeholder="1"><span class="icon selectTrigger"></span><ul class="selectOptions"><li rel="1">1</li><li rel="2">2</li><li rel="3">3</li><li rel="4">4</li><li rel="5">5</li></ul></div>
                                    <p class="priceItem">$350.00</p>
                                    <span class="icon looqLogoSmall">LOOQ</span>
                                    <span class="icon closeButton"><a href="#">eliminar</a></span>
                                </li>
                                <li>
                                    <a href="#"><img alt="Denim looq Leggings" class="imgItem" src="winbitsInclude/images/assets/jeans-tiny.jpg"></a>
                                    <p class="descriptionItem">Denim looq Leggings</p>
                                    <p class="caracItem">Talla: 32, Color: Negro</p>
                                    <label>Cantidad:</label>
                                    <div class="selectContainer selectRegister"><select data-inputselect="true" data-clase="selectRegister" class="select selectHidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select><input type="text" class="selectContent" placeholder="1"><span class="icon selectTrigger"></span><ul class="selectOptions"><li rel="1">1</li><li rel="2">2</li><li rel="3">3</li><li rel="4">4</li><li rel="5">5</li></ul></div>
                                    <p class="priceItem">$350.00</p>
                                    <span class="icon looqLogoSmall">LOOQ</span>
                                    <span class="icon closeButton"><a href="#">eliminar</a></span>
                                </li>
                                <li>
                                    <a href="#"><img alt="Denim looq Leggings" class="imgItem" src="winbitsInclude/images/assets/jeans-tiny.jpg"></a>
                                    <p class="descriptionItem">Denim looq Leggings</p>
                                    <p class="caracItem">Talla: 32, Color: Negro</p>
                                    <label>Cantidad:</label>
                                    <div class="selectContainer selectRegister"><select data-inputselect="true" data-clase="selectRegister" class="select selectHidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select><input type="text" class="selectContent" placeholder="1"><span class="icon selectTrigger"></span><ul class="selectOptions"><li rel="1">1</li><li rel="2">2</li><li rel="3">3</li><li rel="4">4</li><li rel="5">5</li></ul></div>
                                    <p class="priceItem">$350.00</p>
                                    <span class="icon looqLogoSmall">LOOQ</span>
                                    <span class="icon closeButton"><a href="#">eliminar</a></span>
                                </li>
                                <li>
                                    <a href="#"><img alt="Denim looq Leggings" class="imgItem" src="winbitsInclude/images/assets/jeans-tiny.jpg"></a>
                                    <p class="descriptionItem">Denim looq Leggings</p>
                                    <p class="caracItem">Talla: 32, Color: Negro</p>
                                    <label>Cantidad:</label>
                                    <div class="selectContainer selectRegister"><select data-inputselect="true" data-clase="selectRegister" class="select selectHidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select><input type="text" class="selectContent" placeholder="1"><span class="icon selectTrigger"></span><ul class="selectOptions"><li rel="1">1</li><li rel="2">2</li><li rel="3">3</li><li rel="4">4</li><li rel="5">5</li></ul></div>
                                    <p class="priceItem">$350.00</p>
                                    <span class="icon looqLogoSmall">LOOQ</span>
                                    <span class="icon closeButton"><a href="#">eliminar</a></span>
                                </li>
                            </ul>
                        </div></div><div class="jspVerticalBar"><div class="jspCap jspCapTop"></div><div class="jspTrack" style="height: 352px;"><div class="jspDrag" style="height: 230px;"><div class="jspDragTop"></div><div class="jspDragBottom"></div></div></div><div class="jspCap jspCapBottom"></div></div></div></div>
                </div>
                <div class="carritoDivRight">
                    <span class="carritoRight-title">Sub Total</span>
                    <span class="carritoRight-item">$<span class="slideInput-realprice">20000</span></span>
                    <span class="carritoRight-title blueSave">Ahorro</span>
                    <span class="carritoRight-item blueSave">$<span class="slideInput-save">500</span></span>
                    <span class="carritoRight-title">Envío</span>
                    <span class="carritoRight-item">$0</span>
                    <p class="carritoRight-total">
                        <span class="carritoRight-title">Total</span>
                        <span class="carritoRight-item">$<span class="slideInput-price">15000</span></span>
                    </p>
                    <div class="winSave">
                        <span>WIN</span>
                        <em class="icon winbits10px"></em>
                        <label>100</label>
                        <span>save</span>
                        <label><span class="slideInput-percent">25</span>%</label>
                        <div class="sliderWrapper"><div class="slider-holder ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><input type="text" class="slideInput" data-saveitem="slideInput-save" data-save="500" data-percent="slideInput-percent" data-realprice="20000" data-realpriceitem="slideInput-realprice" data-price="15000" data-priceitem="slideInput-price" data-moveprice="true" data-step="2" data-max="599" data-min="0" value="0"><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"><span class="icon bit"></span><span class="sliderAmount">$<em>0</em></span></a><div class="ui-slider-range ui-widget-header ui-slider-range-min" style="width: 0%;"></div></div><span class="textValue textMinValue">0</span><span class="textValue textMaxValue">599</span></div>
                    </div>
                    <input type="submit" value="Check Out" class="btn">
                    <a class="continueShoping" href="#">CONTINUE SHOPING</a>
                </div>
            </div>
        </div>
    </div>
</li>
<li><input type="submit" value="Check Out" class="btn btnTopNav"></li>
</ul>
