<ul>
<li id="wbi-my-account-container">
<span class="spanDropMenu link" id="wbi-my-account-link">Mi Cuenta<span class="icon trigger triggerMiCuenta"></span></span>
</li>
<li class="bits"><span id="wbi-my-bits">{{formatWithComma bitsBalance}}</span><a id="wbi-bits-link-btn" href="#"><em class="iconBit bit18px"><em class="iconBG"></em><em class="iconFont-bit"></em></em></a></li>
<li id="wbi-user-cart"></li>
<li><input type="submit" value="Comprar" class="btn btnTopNav" id="wbi-checkout-btn"></li>
</ul>
