<div class="wrapper historical" id="historicalAccordion" style="display:none">
<input type="submit" value="Back to site" class="btn btnBackToSite">
<div class="accordeonWinbits">
  <h2 id="ordersHistoryHId">Historial de Compras<span class="icon plusIcon">+</span></h2>
  <div class="accordeonContent" id="ordersHistoryContent"></div>
  <h2 id="bitsHistoryHId">Historial de Bits<span class="icon plusIcon">+</span></h2>
  <div class="accordeonContent" id="bitRecordContent"></div>
  <h2 id="waitingListHId">Lista de Espera<span class="icon plusIcon">+</span></h2>
  <div class="accordeonContent"></div>
  <h2 id="favoritiesHId">Favoritos<span class="icon plusIcon">+</span></h2>
  <div class="accordeonContent"></div>
</div>
<input type="submit" value="Back to site" class="btn btnBackToSite">
</div>
