<div class="wrapper checkoutWinbits subview" id="wbi-cards-manager">
  <div class="checkoutMain">
    <div class="checkoutPayment">
      <h2>TARJETAS DE CRÉDITO</h2>
      <div class="checkoutPaymentCreditcard" id="wbi-cards">
        <input type="submit" class="btn btnCheckout wb-back-to-site" value="Terminar">
      </div>
    </div>
  </div>
</div>