<div class="accordeonSelectDiv">
  <select class="select" data-clase="selectRegister">
    <option>Estatus</option>
    <option>Item 1</option>
    <option>Item 2</option>
    <option>Item 3</option>
    <option>Item 4</option>
  </select>
  <select class="select" data-clase="selectRegister">
    <option>Ordenar por...</option>
    <option>Item 1</option>
    <option>Item 2</option>
    <option>Item 3</option>
    <option>Item 4</option>
  </select>
</div>
<div class="dataTable">
  <table>
    <thead>
    <tr>
      <th class="width15">PHOTO</th>
      <th class="width30">DESCRIPCIÓN DEL PRODUCTO</th>
      <th class="width10">SITE</th>
      <th class="widht10">ESTATUS</th>
      <th class="width10">ELIMINAR</th>
      <th class="width25">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr class="itemWaitingList">
      <td>
        <img src="winbitsInclude/images/assets/blackDress-small.jpg" width="62" height="79" alt="LACE OFF THE SHOULDER DRESS" />
      </td>
      <td>
        <strong>LACE OFF THE SHOULDER DRESS</strong>
        <strong>Pull &amp; Bear</strong>
        <p>color: black</p>
        <p>size: small </p>
      </td>
      <td><a href="#" class="icon looqLogoSmall">looq</a></td>
      <td>Esperando</td>
      <td><a href="#" class="icon closeButton">Eliminar</a></td>
      <td>&nbsp;</td>
    </tr>
    <tr class="itemWaitingList">
      <td>
        <img src="winbitsInclude/images/assets/blackDress-small.jpg" width="62" height="79" alt="LACE OFF THE SHOULDER DRESS" />
      </td>
      <td>
        <strong>LACE OFF THE SHOULDER DRESS</strong>
        <strong>Pull &amp; Bear</strong>
        <p>color: black</p>
        <p>size: small </p>
      </td>
      <td><a href="#" class="icon looqLogoSmall">looq</a></td>
      <td><a href="#" class="availableWish">Ya disponible</a></td>
      <td><a href="#" class="icon closeButton">Eliminar</a></td>
      <td>&nbsp;</td>
    </tr>
    <tr class="itemWaitingList">
      <td>
        <img src="winbitsInclude/images/assets/blackDress-small.jpg" width="62" height="79" alt="LACE OFF THE SHOULDER DRESS" />
      </td>
      <td>
        <strong>LACE OFF THE SHOULDER DRESS</strong>
        <strong>Pull &amp; Bear</strong>
        <p>color: black</p>
        <p>size: small </p>
      </td>
      <td><a href="#" class="icon looqLogoSmall">looq</a></td>
      <td>Esperando</td>
      <td><a href="#" class="icon closeButton">Eliminar</a></td>
      <td>&nbsp;</td>
    </tr>
    </tbody>
  </table>
</div>