<div class="favoriteBrands">
  <p>Aqui encontraras todas las marcas que haz marcado como favoritas, cuando vuelvan a alguno de nuestros sitios, te notificaremos via e-mail.</p>
  <ul>
    {{#each brands}}
    <li>
      <span>{{name}}</span>
      <a href="#" class="icon closeButton deleteWishListItem" id="deleteBrand-{{id}}">Eliminar</a>
    </li>
    {{/each}}
  </ul>
</div>