<div class="favoriteBrands">
  <p>Aqui encontraras todas las marcas que haz marcado como favoritas, cuando vuelvan a alguno de nuestros sitios, te notificaremos via e-mail.</p>
  <ul>
    <li>
      <span>NIKE</span>
      <a href="#" class="icon closeButton">Eliminar</a>
    </li>
    <li>
      <span>TOMMY</span>
      <a href="#" class="icon closeButton">Eliminar</a>
    </li>
    <li>
      <span>BROOKS BROTHE...</span>
      <a href="#" class="icon closeButton">Eliminar</a>
    </li>
    <li>
      <span>REEBOOK</span>
      <a href="#" class="icon closeButton">Eliminar</a>
    </li>
    <li>
      <span>TOSHIBA</span>
      <a href="#" class="icon closeButton">Eliminar</a>
    </li>
    <li>
      <span>ADIDAS</span>
      <a href="#" class="icon closeButton">Eliminar</a>
    </li>
    <li>
      <span>STEVE MAIDEN</span>
      <a href="#" class="icon closeButton">Eliminar</a>
    </li>
    <li>
      <span>MARC JACOBS</span>
      <a href="#" class="icon closeButton">Eliminar</a>
    </li>
    <li>
      <span>SAMSUNG</span>
      <a href="#" class="icon closeButton">Eliminar</a>
    </li>
    <li>
      <span>ADIR</span>
      <a href="#" class="icon closeButton">Eliminar</a>
    </li>
  </ul>
</div>