<h3>REDES SOCIALES</h3>

{{#if facebook}}
  <p><a href="#"><span class="iconFont-facebookCircle icon-blueFB"></span>Quita tu cuenta de facebook</a></p>
{{else}}
  <p><a href="#"><span class="iconFont-facebookCircle icon-black"></span>Liga tu cuenta de facebook</a></p>
{{/if}}
{{#if twitter}}
  <p><a href="#"><span class="iconFont-facebookCircle icon-blueTW"></span>Quita tu cuenta de twitter</a></p>
{{else}}
  <p><a href="#"><span class="iconFont-twitterCircle icon-black"></span>Liga tu cuenta de twitter</a></p>
{{/if}}
