<h3>REDES SOCIALES</h3>

{{#if Facebook}}
  <p class="wbc-facebook-unlink"><a href="#"><span class="iconFont-facebookCircle icon-blueFB"></span>Quita tu cuenta de facebook</a></p>
{{else}}
  <p class="wbc-facebook-link"><a href="#"><span class="iconFont-facebookCircle icon-black"></span>Liga tu cuenta de facebook</a></p>
{{/if}}
{{#if Twitter}}
  <p class="wbc-twitter-unlink"><a href="#"><span class="iconFont-twitterCircle icon-blueTW"></span>Quita tu cuenta de twitter</a></p>
{{else}}
  <p class="wbc-twitter-link"><a href="#"><span class="iconFont-twitterCircle icon-black"></span>Liga tu cuenta de twitter</a></p>
{{/if}}
