@path: "../images/";
.close-icon {
    background-image: url("@{path}close_icon.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 25px;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 25px;
    z-index: 10000;
}

.widgetWinbitsMain .checkoutWinbits .checkoutMain .column label.error {
  color: #ff4837;
  width: auto !important;
  padding: 0;
  padding-bottom: 2px;
  font-size: 11px;
}

.shippingEditAddress textarea {
  width: 160px;
  font-size: 11px;
}

.shippingEditAddress .inputNumber input {
  width: 63px;
}