<div class="modal hide fade">
  <i class="close-icon"></i>
  <div class="modal-body reset-modal">
    <div class="contentModal" style="background-color:white;text-align:center;">
      <p>Para poder entrar a winbits por favor primero confirma tu correo electrónico,
      si no encuentras en la bandeja de entrada del email que registraste te pedimos que
      revises en la bandeja de SPAM</p>
      <a id="wbi-resend-confirmation-link" href="#" class="btn close-modal">
        Reenviar correo de confirmación
      </a>
    </div>
  </div>
</div>