<form id="wbi-login-form" accept-charset="utf-8" action="#" method="post">
    <div class="mainModal login loginForm">
        <div class="contentModal">
            <fieldset>
              {{!--{{#withCurrentVertical}}--}}
                <h1>Ahora <span class="iconVertical-r vertical1" title="{{name}}"></span>
                  <small>es parte de la familia
                    <div class="winbit-color iconWinbits70px">
                      <span class="iconFont-winbits"></span>
                      <span class="iconBG firstI"></span>
                      <span class="iconBG secondI"></span>
                    </div>
                  </small>
                </h1>
              {{!--{{/withCurrentVertical}}--}}
                <a href="#" id="wbi-facebook-link" class="loginFacebook"><span class="iconFont-facebook"></span>Inicia sesión con Facebook</a>
                <span class="login-or">o ingresa tu usuario y contraseña</span>
                <input id="wbi-input-email-login" type="text" placeholder="Email" name="email">
                <input type="password" placeholder="Password" name="password">
                <span class="checkbox-span checkbox-unchecked"></span>
                  <br>
                <span class="login-or enterCount">Si ya tienes una cuenta de Bebitos ingrésala aquí</span>
                <div class="errorDiv" style="display:none;"><p></p></div>
                <input id="wbi-login-in-btn" type="submit" class="btn" value="Inicia Sesión">
                <p id="wbi-recover-password"class="forgotRegister">¿Olvidaste tu password? <a href="#wb-recover-password" class="wb-hash-link">haz click aquí</a></p>
                <p class="forgotRegister">¿No estás registrado? <a href="#wb-register" class="wb-hash-link">haz click aquí</a></p>
            </fieldset>
        </div>
    </div>
</form>
