<form id="wbi-login-form" accept-charset="utf-8" action="#" method="post">
    <div class="mainModal login loginForm">
        <div class="contentModal">
            <fieldset>
                <h1>Bienvenido a <span class="iconVertical-r vertical2" title="My LOOQ"></span> <small>un sitio de la familia <span class="icon winbits11px">winbits</span></small></h1>
                <a href="#" class="loginFacebook"><span class="iconFont-facebook"></span>Login con Facebook</a>
                <span class="login-or">ó</span>
                <input type="text" placeholder="Email" name="email">
                <input type="password" placeholder="Password" name="password">
                <span class="checkbox-span checkbox-unchecked"></span>
                <input type="checkbox" class="checkbox" name="rememberMe" value="rememberMe">
                <label class="checkboxLabel">Recuérdame</label>
                <div class="errorDiv"><p></p></div>
                <input id="wbi-login-in-btn" class="btn" value="Log in">
                <p id="wbi-recover-password"class="forgotRegister">¿Olvidaste tu password? <a href="#wb-recover-password">haz click aquí</a></p>
                <p class="forgotRegister">¿No estas registrado? <a href="#register">haz click aquí</a></p>
            </fieldset>
        </div>
    </div>
</form>
