<form id="wbi-register-form" accept-charset="utf-8" method="post">
  <div class="mainModal registro01">
    <div class="contentModal">
      <fieldset class="leftModal">
        <span class="icon winbits23px">winbits</span>
        <a href="#" class="loginFacebook" id="wbi-facebook-link"><span class="icon facebookWhite"></span>Únete a Winbits vía Facebook</a>
        <span class="login-or">o</span>
        <input type="text" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="password">
        <input type="password" placeholder="Comprobar Password" name="passwordConfirm">
        <div class="errorDiv" style="display:none;"><p></p></div>
        <p>Si ya tienes una cuenta clickOnero <a href="#wb-login" class="wb-hash-link">ingrésala aquí</a></p>
        <p class="terminosCondiciones">Al hacer clic en "Regístrate" aceptas nuestros <a href="#">Términos y Condiciones</a> y nuestro <a href="#">Aviso de Privacidad.</a></p>
        <input type="submit" id="wbi-register-button" class="btn btnCart" value="Regístrate">
      </fieldset>
      <aside class="asideModal">
          <div class="am-div"><span class="am-span am-win">Ahora clickOnero es parte de Winbits.</span><span class="am-span am-register">Regístrate y gana <br> tus primeros <span class="am-span am-bits">100 </span>Winbits.</span>
              <div class="winbit-color iconWinbits130px"><span class="iconFont-winbits"></span><span class="iconBG firstI"></span><span class="iconBG secondI"></span></div><span class="am-span am-buy">Compra más</span><span class="am-span am-save">gastando menos</span>
          </div>
         {{!--
        <p>USA TU CUENTA WINBITS <br>EN TODOS ESTOS SITIOS:</p>
        <ul>
          {{#eachActiveVertical}}
          <li><a href="{{baseUrl}}" class="iconVertical-r vertical{{id}}" title="{{name}}"></a></li>
          {{/eachActiveVertical}}
        </ul>
        <span>UNA MISMA CUENTA, UN SÓLO LOGIN<br>Y EN TODOS GANAS WINBITS</span>
        --}}
      </aside>
    </div>
  </div>
</form>
