<form id="wbi-register-form" accept-charset="utf-8" method="post">
  <div class="mainModal registro01">
    <div class="contentModal">
      <fieldset class="leftModal">
          <div class="winbit-color iconWinbits95px">
              <span class="iconFont-winbits"></span>
              <span class="iconBG firstI"></span>
              <span class="iconBG secondI"></span>
          </div>
        <a href="#" class="loginFacebook" id="wbi-facebook-link"><span class="icon facebookWhite"></span>Únete a Winbits vía Facebook</a>
        <span class="login-or">o</span>
        <input type="text" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="password">
        <input type="password" placeholder="Comprobar Password" name="passwordConfirm">
        <div class="errorDiv" style="display:none;"><p></p></div>
        <p>Si ya tienes una cuenta clickOnero o de Bebitos <a href="#">haz click aquí.</a></p>
        <p class="terminosCondiciones">Al hacer click en "Regístrate" aceptas nuestros <a href="#">Términos y Condiciones</a> y nuestro <a href="#">Aviso de Privacidad.</a></p>
        <input type="submit" id="wbi-register-button" class="btn btnCart" value="Regístrate">
      </fieldset>
      <aside class="asideModal">
          <div class="am-div">
              <div class="clickOnerodiv"><span class="iconFont-o"></span><span class="iconFont-clicknero"></span></div><span class="am-ampersand">y</span><span class="iconFont-bebitos"></span><span class="am-span am-family">Son parte de la familia Winbits</span><span class="am-span am-allsites">Sitios unidos por una sola cuenta, un mismo carrito y un sencillo checkout</span><span class="am-span am-register">Registrate y gana <br> tus primeros <span class="am-span am-bits">10 </span>Winbits.</span>
              <div class="winbit-color iconWinbits130px"><span class="iconFont-winbits"></span><span class="iconBG firstI"></span><span class="iconBG secondI"></span></div><span class="am-span am-buy">Compra más</span><span class="am-span am-save">gastando menos</span>
          </div>
         {{!--
        <p>USA TU CUENTA WINBITS <br>EN TODOS ESTOS SITIOS:</p>
        <ul>
          {{#eachActiveVertical}}
          <li><a href="{{baseUrl}}" class="iconVertical-r vertical{{id}}" title="{{name}}"></a></li>
          {{/eachActiveVertical}}
        </ul>
        <span>UNA MISMA CUENTA, UN SÓLO LOGIN<br>Y EN TODOS GANAS WINBITS</span>
        --}}
      </aside>
    </div>
  </div>
</form>
