<form id="wbi-register-form" accept-charset="utf-8" method="post">
  <div class="mainModal registro01">
    <div class="contentModal">
      <fieldset class="leftModal">
        <span class="icon winbits23px">winbits</span>
        <a href="#" class="loginFacebook"><span class="icon facebookWhite"></span>Únete a Winbits vía Facebook</a>
        <span class="login-or">ó</span>
        <input type="text" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="password">
        <input type="password" placeholder="Comprobar Password" name="againPassword">
        <div class="errorDiv"><p></p></div>
        <p>¿Ya tienes una cuenta? <a href="#login" id="wbi-login-link">haz click aquí</a></p>
        <p class="terminosCondiciones">Al hacer click en "Registrate" aceptas nuestros <a href="#">Términos y Condiciones</a> y nuestro <a href="#">Aviso de Privacidad.</a></p>
        <input type="button" id="wbi-register-button" class="btn btnCart" value="Registrate">
      </fieldset>
      <aside class="asideModal">
        <p>USA TU CUENTA WINBITS <br>EN TODOS ESTOS SITIOS:</p>
        <ul>
          <li><a href="#"><img src="images/misc/mylooq-register.png" alt="my LOOQ"></a></li>
          <li><a href="#"><img src="images/misc/panda-register.png" alt="Panda Sport"></a></li>
          <li><a href="#"><img src="images/misc/clickonero-register.png" alt="clickOnero"></a></li>
        </ul>
        <span>UNA MISMA CUENTA, UN SÓLO LOGIN<br>Y EN TODOS GANAS WINBITS</span>
      </aside>
    </div>
  </div>
</form>