/**
 * Estilos agregados por el equipo de desarrollo.
 */
#fancybox-content form {
  margin: 0;
}

.wbc-hide {
  display: none;
}

.wbc-show {
  display: block;
}

.error {
  color: #dd092c !important;
}

input.error{
  border: 1px solid #dd092c !important;
}

label.error {
  border: 0 !important;
  color: #dd092c;
  display: block;
}

