@path: "../images/";
.close-icon {
    background-image: url("@{path}close_icon.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 25px;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 25px;
    z-index: 10000;
}

.reset-modal {
  max-height: inherit;
  max-width: inherit;
  overflow: hidden;
  padding: 0px;
}

.socialProviderOn {
    color: #00aa00;
}

.socialProviderOff {
    color: #666666
}

.widgetWinbitsHeader .mainHeader .miCuenta .miCuentaDiv .colum label.error label.reset-label {
  padding: 0;
}

label.error, .widgetWinbitsHeader .mainHeader .miCuenta .miCuentaDiv .colum label.error, .fieldsetDiv label.error {
  color: #ff4837;
  width: auto;
  padding: 0;
  padding-bottom: 2px;
  font-size: 11px;
}

