<form id="wbi-mailing-form" accept-charset="utf-8" action="#" method="post">
    <div class="column">
        <h3>¿De cuál de nuestros sitios te gustaría recibir información?</h3>
        <input type="checkbox" value="Looq" name="winbitsSuscription1" id="winbitsSuscription1">
        <label for="winbitsSuscription1" class="checkboxLabel">Looq</label>
        <input type="checkbox" value="Clickonero" name="winbitsSuscription2" id="winbitsSuscription2">
        <label for="winbitsSuscription2" class="checkboxLabel">Clickonero</label>
        <input type="checkbox" value="MiPlan" name="winbitsSuscription3" id="winbitsSuscription3">
        <label for="winbitsSuscription3" class="checkboxLabel">Mi Plan</label>
        <input type="checkbox" value="Travel" name="winbitsSuscription4" id="winbitsSuscription4">
        <label for="winbitsSuscription4" class="checkboxLabel">Travel</label>
        <input id="wbi-checkbox-all" type="checkbox" value="Travel" class="checkall">
        <label class="checkboxLabel">Todos / Ninguno</label>
    </div>
    <div id="wbi-how-to-received" class="column">
        <h3>¿Cómo te gustaría recibir la información?</h3>
        <input type="radio" value="Allinone" name="winbitsSuscription5">
        <label class="checkboxLabel">Todo en un correo</label>
        <input type="radio" value="individualMail" name="winbitsSuscription5">
        <label class="checkboxLabel">Correos individuales</label>
    </div>
    <div id="wbi-how-often-to-received" class="column">
        <h3>¿Con qué frecuencia te gustaría recibir nuestros correos?</h3>
        <input type="radio" value="Alldays" name="winbitsSuscription6">
        <label class="checkboxLabel">Todos los días</label>
        <input type="radio" value="Onemailweek" name="winbitsSuscription6">
        <label class="checkboxLabel">Un correo por semana</label>
    </div>
    <input id="wbi-mailing-btn" type="button" class="btn editBtn" value="Guardar">
</form>
<div id="wbi-mailing-thanks-div" class="thanks-div">
    <div class="data">
        <p>Procesando información</p>
        <div class="loader"></div>
    </div>
    <div class="data">
        <p>Tus datos quedaron guardados</p>
        <a href="#" class="btn">Cerrar</a>
    </div>
</div>