<form accept-charset="utf-8" action="#" method="post" class="wbc-card-form wbc-error-placeholder">
    <div class="column">
        <h3>INFORMACIÓN</h3>
        <input type="text" placeholder="Nombre" name="firstName" id="winbitsCreditCard" class="requiredField" data-requiredfield="Nombre Requerido" maxlength="30">
        <input type="text" placeholder="Apellido(s)" name="lastName" id="winbitsCreditCardLastname" class="requiredField" data-requiredfield="Apellido(s) Requerido" maxlength="50">
        <div class="wbc-error-placeholder">
        <input type="text" placeholder="Número de Tarjeta" name="accountNumber" id="winbitsCreditCardNumber" class="requiredField creditcardField" data-requiredfield="Número de Tarjeta Requerido" maxlength="16"><span class="logoCC wbc-card-logo"></span>
        </div>
        <div class="divFechaExpiracion wbc-error-placeholder">
            <label>Fecha de Expiración</label>
            <input type="text" placeholder="mm" maxlength="2" name="expirationMonth" id="winbitsCreditCardDD" maxlength="2">
            <input type="text" placeholder="aa" maxlength="2" name="expirationYear" id="winbitsCreditCardAA" class="requiredField" data-requiredfield="Fecha de Expiración Requerido" maxlength="2">
        </div>
        {{!-- <div class="divNumSecurity">
            <label for="winbitsCreditCardSecurity"># de Seguridad</label>
            <input type="text" placeholder="###" maxlength="3" name="cvNumber" id="winbitsCreditCardSecurity" maxlength="4">
        </div> --}}
    </div>
    <div class="column">
        <h3>DIRECCIÓN</h3>
        <select class="select wbc-country-field requiredField" data-clase="selectRegister" id="winbitsCreditCardCountry" data-requiredfield="País Requerido" name="country">
            <option value="">País</option>
            <option value="MX" selected="">México</option>
        </select>
      <div>
          <input type="text" placeholder="Calle" class="inputMedium" name="street1" id="winbitsCreditCardStreet" maxlength="40">
          <input type="text" placeholder="Ext." class="inputSmall requiredField" name="number" id="winbitsCreditCardNum" data-requiredfield="Calle y Número Requeridos" maxlength="50">
      </div>
        {{!-- <input type="text" placeholder="Colonia" name="colony" id="winbitsCreditCardCol" class="requiredField" data-requiredfield="Colonia Requerido" maxlength="40"> --}}
        <input type="text" placeholder="Ciudad" name="city" id="winbitsCreditCardCity" class="requiredField" data-requiredfield="Ciudad Requerido" maxlength="40">
        <input type="text" placeholder="Estado" name="state" id="winbitsCreditCardState" class="requiredField" data-requiredfield="Estado Requerido" maxlength="40">
        <input type="text" placeholder="Código Postal" name="postalCode" id="winbitsCreditCardCP" class="requiredField" data-requiredfield="Código Postal Requerido" maxlength="5">
        <input type="text" placeholder="Teléfono" name="phoneNumber" id="winbitsCreditCardTel" class="requiredField" data-requiredfield="Teléfono Requerido" maxlength="15">
    </div>
    <div class="column columnLarge">
        <h3>OPCIONES</h3>
        <input type="checkbox" class="checkbox" name="cardPrincipal" id="wbi-card-principal" value="true">
        <label class="checkboxLabel">Hacer esta mi tarjeta principal</label>
        <input type="checkbox" class="checkbox" name="copyAddress" id="wbi-copy-address" value="false">
        <label class="checkboxLabel">Utilizar mi dirección principal de envío</label>
        <p class="note">Winbits guardará tus tarjetas de crédito por ti, para que tu próxima compra sea mucho más rápida.</p>
        <div class="errorDiv wbc-hide"><p>Email no existe, favor de verificarlo</p></div>
        <div class="submitButton">
            <span class="btn btnCancel openClose wbc-cancel-btn" data-showdiv=".ccCarrusel" data-hidediv=".creditcardNew">Cancelar</span>
            <input type="button" value="Guardar" class="btn wbc-save-card-btn">
        </div>
    </div>
</form>
