<!doctype html>

<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=980" />
  <title>Winbits</title>

  <style type="text/css">
    .icon {
      background-color: transparent;
      background-image: url("images/misc/icons.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      height: 20px;
      line-height: 60px;
      margin: 0;
      overflow: hidden;
      text-indent: 60px;
      vertical-align: middle;
      width: 20px;
    }

    .facebookWhite {
      background-position: -20px -120px;
    }

    .btnFacebook .icon {
      margin-right: 5px;
    }

    a {
      color: #275D93;
      text-decoration: none;
      transition: all 0.3s ease 0s;
    }

    .btnFacebook {
      color: #FFFFFF !important;
      border: medium none;
      outline: medium none;
      font-family: Verdana, Helvetica;
      background: #667cbc;
      font-size: 11px;
      padding: 5px 20px;
      display: inline-block;
      vertical-align: middle;
      width: auto;
      *display: inline;
      /* IE7 inline-block hack */

      *zoom: 1;
      -webkit-transition: 0.3s;
      -khtml-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
    .btnFacebook:hover {
      background: #788bc4;
      text-decoration: none;
    }
    .btnFacebook .icon {
      margin-right: 5px;
    }
  </style>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/easyXDM/2.4.18.25/easyXDM.debug.js"></script>
  <script type="text/javascript">
    easyXDM.DomHelper.requiresJSON("http://cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js");
  </script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js"></script>

  <script type="text/javascript">
    (function(){
      var Winbits = {};

      Winbits.store = function store(c_name, value) {
        return localStorage[c_name] = value;
      };

      Winbits.retrieve = function retrieve(c_name) {
        return localStorage[c_name];
      };

      Winbits.delete = function (name) {
        return localStorage[name] = undefined;
      };

      var rpc = new easyXDM.Rpc({},
        {
            local: {
              request: function(url, options, success, error, complete){
                if (options && options.context) {
                  console.log('In RPC mode is not secure to use callbackas with context!');
                  delete options.context;
                }
                var config = {
                  type: 'GET',
                  success: function() {
                    if (typeof success === 'function') {
                      success.apply(this, arguments);
                    }
                  },
                  error: function() {
                    if (typeof error === 'function') {
                      error.apply(this, arguments);
                    }
                  },
                  complete: function() {
                    if (typeof complete === 'function') {
                      complete.apply(this, arguments);
                    }
                  }
                };
                $.extend(config, options);
                $.ajax(url, config);
              },
              getTokens: function() {
                var tokens = {};
                var apiToken = Winbits.retrieve('_wb_api_token');
                if (apiToken) {
                  tokens.apiToken = { cookieName: '_wb_api_token', value: apiToken};
                }
                var vcartToken = Winbits.retrieve('_wb_vcart_token');
                if (!vcartToken) {
                  vcartToken = '[]';
                  Winbits.store('_wb_vcart_token', vcartToken, 7);
                }
                tokens.vcartToken = { cookieName: '_wb_vcart_token', value: vcartToken};
                console.log(['W: The tokens', tokens]);

               return tokens;

              },
              saveApiToken: function(apiToken) {
                console.log(['API Token from vertical', apiToken]);
                Winbits.store('_wb_api_token', apiToken);
              },
              storeVirtualCart: function(vCart) {
                Winbits.store('_wb_vcart_token', vCart);
              },
              logout: function(facebookLogout) {
                console.log('Winbits: Logging out...');
                Winbits.delete('_wb_api_token');
                Winbits.store('_wb_vcart_token', '[]');
                if (facebookLogout) {
                  console.log('Winbits: Facebook logging out...');
                  FB.logout(function(response) {
                    console.log(['Facebook logout', response]);
                  });
                }
              },
              facebookStatus: function(success) {
                console.log('About to call FB.getLoginStatus.');
                FB.getLoginStatus(function(response) {
                 console.log(['FB.getLoginStatus', response]);
                 success(response);
                }, true);
              },
              facebookMe: function(success) {
                console.log('Winbits: Requesting me profile...');
                FB.api('/me', function(response){
                  console.log(['Facebook me response', response]);
                  success(response);
                });
              }
            },
            remote: {
              request:{},
              getTokens:{},
              saveApiToken:{},
              storeVirtualCart:{},
              facebookStatus:{} ,
              facebookMe:{}
            }
          });

      window.fbAsyncInit = function () {
        FB.init({appId: '486640894740634', status: true, cookie: true, xfbml: true, oauth  : true });
      };

      var e = document.createElement('script');
      e.async = true;
      e.src = 'http://connect.facebook.net/en_US/all.js';
      (document.getElementsByTagName('head')[0] || document.documentElement).appendChild(e);
    })();

    function sendLoginFB (){
      FB.login(function(response) {
        windowProxy.post({action: 'facebookLogin', params: [response]});
      }, {scope: 'email,user_about_me,user_birthday,publish_actions'});
    };
  </script>
</head>
<body style="margin: 0px;background: none repeat scroll 0 0 #454545;">
<div id="fb-root" style="text-align: center;">
  <a id="facebook-btn" class="btnFacebook" href="#" onclick="sendLoginFB()"><span class="icon facebookWhite"></span>Log in with Facebook</a>
</div>
</body>
</html>
