<div class="wrapper checkoutWinbits subview" id="shippingAddressMain">
  <input type="submit" value="Back to site" class="btn btnBackToSite">
  <div class="checkoutMain">
    <div class="checkoutShipping">
      <h2>DIRECCIÓN DE ENVIO</h2>
      <div id="shippingAddressContent">
      </div>
    </div>
  </div>
  <input type="submit" value="Back to site" class="btn btnBackToSite">
</div>ﬁ