<div id="wbi-video-modal-container" class="video-container">
    <iframe id="wbi-iframe-video" width="560" height="315" src="https://www.youtube.com/embed/5RYuQLTs1p8?autoplay=1" allowfullscreen class="video-frame"></iframe>
</div>
