<div class="confirmationContent wbc-propagation-stopper wbc-alert-modal">
    <h2 class="wbc-modal-title">{{title}}</h2>
    <div class="confirmation-icon wbc-modal-icon">
        <span class="{{icon}}"></span>
    </div>
    <div class="confirmation-content" style="text-align: center;">
        <div class="wbc-modal-message">{{{message}}}</div>
        <div class="wbc-modal-actions confirmation-submit">
            <input type="button" class="btn wbc-default-action" value="{{value}}"/>
        </div>
    </div>
</div>
