<div class="confirmationContent wbc-propagation-stopper wbc-message-modal">
    <h2 class="wbc-modal-title">{{title}}</h2>
    <div class="confirmation-icon wbc-modal-icon">
        <span class="{{icon}}"></span>
    </div>
    <div class="confirmation-content">
        <div class="wbc-modal-message">{{{message}}}</div>
    </div>
</div>
