<div class="modal hide fade">
  <i class="close-icon"></i>
  <div class="modal-body reset-modal">
    <div class="contentModal" style="background-color:white;text-align:center;">
      <p>Esta cuenta de correo ya esta registrada si no te acuerdas de tu contraseña da clic aquí</p>
      <a id="wbi-already-exist-user-link" href="#" class="btn close-modal">
        Recordar password
      </a>
    </div>
  </div>
</div>