<div class="modal hide fade">
  <i class="close-icon"></i>
  <div class="modal-body reset-modal">
    <div class="contentModal" style="background-color:white;text-align:center;">
      <p>Para ganar 100 bits completa tu registro aquí</p>
      <a id="wbi-complete-profile-remainder" href="#" class="btn close-modal">
        Completar Registro
      </a>
    </div>
  </div>
</div>