<div class="modal hide fade">
  <i class="close-icon"></i>
  <div class="modal-body reset-modal">
    <div class="contentModal" style="background-color:white;text-align:center;">
      <p>¡Felicidades! Has ganado<strong> $<span class="wb-cashback"></span>  </strong>bits por completar tu registro</p>
      <br>
      <br>
        <a id="wbi-close-complete-register" href="#" class="btn close-modal">
          Aceptar
        </a>
    </div>
  </div>
</div>