<form id="recuperaPsw" accept-charset="utf-8" action="#" method="post">
  <div class="mainModal login recuperaPsw">
    <div class="contentModal">
      <fieldset>
        <h1>Bienvenido a <small><span class="icon winbits23px">Winbits</span></small></h1>
        <h2>Recupera tu contraseña</h2>
        <input type="text" placeholder="Email" class="required email" name="email">
        <div class="errorDiv"><p></p></div>
        <input type="submit" class="btn" value="Enviar">
        <p class="forgotRegister">¿Si estas registrado? <a href="#">haz click aquí</a></p>
        <p class="forgotRegister">¿No estas registrado? <a href="#">haz click aquí</a></p>
      </fieldset>
    </div>
    <footer class="widgetWinbitsFooter">
      <a href="#" class="btnFacebook"><span class="icon facebookWhite"></span>Log in with Facebook</a>
    </footer>
  </div>
</form>