<h2>HISTORIAL DE TU CUENTA</h2>
<h3>Historial de Compras</h3>
<p>Entrega Pendiente <span class="wb-user-pending-orders-count">0</span></p>
<a id="ordersHistory" href="#historial-compras">Ver Historial de Compras completo</a>
<h3>Tus Bits</h3>
<p>Tienes <span id="wbi-user-bits-balance" class="wb-user-bits-balance reseteable" data-reset-text="0">0</span> Bits</p>
<a id="bitsCredit" href="#historial-bits">Ver Historial de Bits completo</a>
<h3>Favoritos</h3>
<p>Marcas <span id="wbi-user-wish-list-count">0</span></p>
<a href="#">Ver Favoritos completo</a>
<h3>Wish List</h3>
<p>Tienes <span id="wbi-user-waiting-list-count">0</span> Productos</p>
<a id="wishListTable" href="#listado-favoritos">Ver Whish List completa</a>
