<form id="wbi-reset-login-form" accept-charset="utf-8" action="#" method="post" style="margin: 0;">
  <div class="mainModal login loginForm">
    <div class="contentModal">
      <fieldset>
        <h1>Bienvenido a <small><span class="icon winbits23px">Winbits</span></small></h1>
        <input type="password" placeholder="Nuevo Password" class="required reseteable" name="password" maxlength="30" id="wbi-reset-new-password">
        <input type="password" placeholder="Confirmar Nuevo Password" class="required reseteable" name="passwordConfirm" maxlength="30">
        <div class="errorDiv errors"/>
        <input type="button" class="btn" id="wbi-reset-form-login-btn" value="Enviar">
      </fieldset>
    </div>
  </div>
</form>
