<form id="bodyModal" action="#wb-login" method="post">
    <div>
        <div class="contentModal">
            <div class="winbit-color iconWinbits95px"><span class="iconFont-winbits"></span><span class="iconBG firstI"></span><span class="iconBG secondI"></span></div>
            <p>Gracias por aceptar recibir nuestros boletines: </p>
            <p>Ingresa a nuestra página</p>
            <li class="btn btnTopNav" id="wbi-go-login-button">Entrar</li>
        </div>
    </div>
</form>