<input hidden="hidden" id="wbi-route-my-account" value="my-profile"/>
<input hidden="hidden" id="wbi-action-my-account" value="index"/>
<ul class="miCuenta-linktabs">
  <li class="tabSelected"><a href="#my-profile" id="wbi-my-profile-link">MI PERFIL</a></li>
  <li><a href="#wb-micuenta-address">DIRECCIÓN DE ENVIO</a></li>
  <li><a href="#wb-micuenta-creditcard">TARJETAS DE CRÉDITO</a></li>
  <li><a href="#wb-micuenta-mailing">MAILING</a></li>
  <li><a href="#wb-micuenta-favorites">FAVORITOS</a></li>
  <li><a href="#wb-micuenta-wishlist">WISHLIST</a></li>
  <li><a href="#wb-micuenta-history">HISTORIAL DE TU CUENTA</a></li>
</ul>
<div class="miCuenta-logout">
  <input type="submit" value="Log Out" class="btn">
</div>
<div class="wbc-my-account-container">
</div>
<div class="miCuenta-close">
  <p>cerrar ventana<span class="icon closeButton"></span></p>
</div>