<span class="icon triangle"></span>
<div class="wrapper">
  <div class="miCuenta-tabs">
    <ul class="miCuenta-linktabs">
      <li class="tabSelected"><a href="#wb-profile" id="wbi-my-profile-link" class="wbc-tab-link">MI PERFIL</a></li>
      <li><a href="#wb-shipping-addresses" id="wbi-shipping-addresses-link" class="wbc-tab-link">DIRECCIÓN DE ENVÍO</a></li>
      <li><a href="#wb-credit-cards" id="wbi-credit-cards-link" class="wbc-tab-link">TARJETAS DE CRÉDITO</a></li>
      {{!--<li><a href="#wb-mailing" id="wbi-mailing-link" class="wbc-tab-link">MAILING</a></li>--}}
      {{!--<li><a href="#wb-favorites" id="wbi-favorites-link" class="wbc-tab-link">FAVORITOS</a></li>--}}
      <!--<li><a href="#wb-waiting-list" id="wbi-waiting-list-link" class="wbc-tab-link">LISTA DE ESPERA</a></li>-->
      <li><a href="#wb-account-history" id="wbi-account-history-link" class="wbc-tab-link">HISTORIAL DE TU CUENTA</a></li>
    </ul>
    <div class="miCuenta-logout">
      <input id="wbi-my-account-logout-btn" type="button" value="Log Out" class="btn">
    </div>
    <div class="wbc-my-account-container">
        <div id="wb-profile" class="miCuenta-tab wb-micuenta-profile"></div>
        <div id="wb-shipping-addresses" class="miCuenta-tab wb-micuenta-address"></div>
        <div id="wb-credit-cards" class="miCuenta-tab wb-micuenta-creditcard"></div>
        <div id="wb-mailing" class="miCuenta-tab wb-micuenta-profile  wb-micuenta-mailing"></div>
        <div id="wb-favorites" class="miCuenta-tab  wb-micuenta-favorites"></div>
        <div id="wb-waiting-list" class="miCuenta-tab  wb-micuenta-wishlist"></div>
        <div id="wb-account-history" class="miCuenta-tab  wb-micuenta-history"></div>
    </div>
    <div class="miCuenta-close" id="wbi-my-account-close">
      <p>Cerrar ventana<span class="icon closeButton"></span></p>
    </div>
  </div>

  <div id="wbi-ajax-loading-layer" class="miCuenta-overlay overlay-hide">
    <div class="overlay-container">
      <div class="overlay-content">
        <p class="wbc-loading-message">Procesando información</p>
        <div class="loader"></div>
      </div>
    </div>
  </div>
</div>
