{{#if promo.bannerUrl }}
    <div id="wbi-banner-promo" class="banner-hf">
        <a href="#">
            <img src="{{promo.bannerUrl}}" alt="">
        </a>
    </div>
{{else}}
    <p>¡Ahora clickOnero y Bebitos son parte de Winbits! <a href="#" id="wbi-drop-down-link">Compra más gastando menos</a><span data-showdiv=".knowMoreMax" data-hidediv=".knowMoreMin" class="iconFont-downbanner openClose"></span></p>
{{/if}}
