    <div class="widgetWinbitsHeader"  id="wbi-widget-header-div">
        <div class="knowmoreFolder">
            <div class="wrapper">
                <div class="knowMoreMax"><span class="icon winbits22px">Logo Winbits</span>
                    <div class="knowMoreMax-item">
                        <div class="knowMoreMax-icons"><a href="#" title="clickOnero"><img src="http://wbf.winbits.com/img/iconTop1.png" alt=""></a></div>
                        <h2>SUPER OFERTAS</h2>
                        <p>Clickonero seguirá trayendo para ti ofertas con hasta 90% de descuento, publicando ofertas nuevas todos los días.</p>
                    </div>
                    <div class="knowMoreMax-item">
                        <div class="knowMoreMax-icons"><img src="http://wbf.winbits.com/img/iconTop2.png" alt=""></div>
                        <h2>CON TUS COMPRAS GANAS WINBITS</h2>
                        <p>Con todas tus compras podrás ganar winbits que puedes usar como dinero electrónico en compras futuras.</p>
                    </div>
                    <div class="knowMoreMax-item">
                        <div class="knowMoreMax-icons"><img src="http://wbf.winbits.com/img/iconTop3.png" alt=""></div>
                        <h2>GANA + WINBITS</h2>
                        <p>Gana aún más winbits participando en promociones.</p>
                    </div>

            <div class="knowMoreMax-buttons">
              <a href="#wb-video" class="wb-hash-link">VE NUESTRO VIDEO<span class="iconFont-video"></span></a>
              <a href="#wb-register" class="wb-hash-link">REGISTRATE AHORA<span class="iconFont-candado"></span></a>
            </div>

            <span class="iconFont-upbanner openClose" data-showdiv=".knowMoreMin" data-hidediv=".knowMoreMax"></span>
          </div>
          <div class="knowMoreMin">
            <p>Compra en nuestro sitio y gana! <a href="#">Conoce más.</a>
              <span class="iconFont-downbanner openClose" data-showdiv=".knowMoreMax" data-hidediv=".knowMoreMin"></span>
            <div class="language">
              <span><a href="{{getHomeUrl}}" class="icon winbits19px">Logo Winbits</a></span>
            </div>
          </div>
        </div>
      </div>
        <div class="mainHeader">
            <div class="wrapper" id="wbi-header-wrapper">
                <nav>
                    <ul>
                      {{#each activeVerticals}}
                      <li><a href="{{baseUrl}}" class="iconVertical-n vertical{{id}} {{#compare id ../currentVerticalId}}current{{/compare}} wbc-vertical" title="{{name}}"></a></li>
                      {{/each}}
                    </ul>
                </nav>
            </div>
          <div class="wrapper" id="wbi-header-wrapper-without-widget" style="display: none;">
            <div class="winbitsLogoDiv"><span class="iconFont-winbits"></span></div>
          </div>
        </div>
    </div>
    <div id="wbi-winbits-modals" class="wbc-hide">
    </div>
