    <div class="widgetWinbitsHeader"  id="wbi-widget-header-div">
        <div class="knowmoreFolder">
            <div class="wrapper">
                <div class="knowMoreMax"><span class="icon winbits22px">Logo Winbits</span>
                    <div class="knowMoreMax-item item1">
                        <div class="knowMoreMax-icons"><a href="http://www.clickonero.com.mx" target="_blank" class="iconFont-clickOnero"></a><a href="http://www.bebitos.mx" target="_blank" class="iconFont-bebitos"></a></div>
                        <h2>VARIAS TIENDAS</h2>
                        <p>Nos hemos asociado con sitios especializados para ofercerte los mejores productos a los mejores precios.</p>
                    </div>
                    <div class="knowMoreMax-item item2">
                        <div class="knowMoreMax-icons iconFont-cart"></div>
                        <h2>UNA SOLA CUENTA</h2>
                        <p>Para hacertelo todavía más fácil <br/>puedes utilizar tu cuenta winbits y sumar productos a un mismo carrito sin importar en que sitio estés.</p>
                    </div>
                    <div class="knowMoreMax-item item3">
                        <div class="knowMoreMax-icons"><img src="http://wbf.winbits.com/img/iconTop2.png" alt=""></div>
                        <h2>CON TUS COMPRAS GANAS WINBITS</h2>
                        <p>Con todas tus compras podrás ganar winbits que puedes usar como dinero electrónico en compras futuras.</p>
                    </div>
                    <div class="knowMoreMax-buttons">
                      <a href="#wb-video" class="wb-hash-link">VE NUESTRO VIDEO<span class="iconFont-video"></span></a>
                      {{#isLoggedIn}}
                         <a href="#wb-register" class="wb-hash-link">REGISTRATE AHORA<span class="iconFont-candado"></span></a>
                      {{/isLoggedIn}}
                    </div>

                      <span class="iconFont-upbanner openClose" data-showdiv=".knowMoreMin" data-hidediv=".knowMoreMax"></span>
                </div>
                <div class="knowMoreMin">
                    <p>¡Ahora clickOnero y Bebitos son parte de Winbits! <a href="#" id="wbi-drop-down-link">Compra más gastando menos</a><span data-showdiv=".knowMoreMax" data-hidediv=".knowMoreMin" class="iconFont-downbanner openClose"></span></p>
                    <div class="language"><a href="{{getHomeUrl}}">
                        <div class="winbits-white iconWinbit75px"><span class="iconFont-bit firstI"></span><span class="iconFont-bit secondI"></span><span class="iconFont-winbits"></span><span class="iconFont-circle firstI"></span><span class="iconFont-circle secondI"></span></div></a>
                    </div>
                </div>
            </div>
      </div>
      <div class="mainHeader">
          <div class="wrapper" id="wbi-header-wrapper">
              <nav>
                  <ul>
                    {{#each activeVerticals}}
                    <li><a href="{{baseUrl}}" class="iconVertical-n vertical{{id}} {{#compare id ../currentVerticalId}}current{{/compare}} wbc-vertical" title="{{name}}"></a></li>
                    {{/each}}
                  </ul>
              </nav>
          </div>
        <div class="wrapper" id="wbi-header-wrapper-without-widget" style="display: none;">
          <div class="winbitsLogoDiv"><span class="iconFont-winbits"></span></div>
        </div>
      </div>
    </div>
    <div id="wbi-winbits-modals" class="wbc-hide">
    </div>
