<form id="bodyModal" accept-charset="utf-8" action="#" method="post">
    <div class="mainModal askcellphone">
        <div class="contentModal">
            <div class="winbit-color iconWinbits95px"><span class="iconFont-winbits"></span><span class="iconBG firstI"></span><span class="iconBG secondI"></span></div>
            <p>Para asegurarnos de que otorguemos winbits a personas y no a robots que abusen de nuestras buenas intenciones, te pedimos que por favor nos ayudes a confirmar tu cuenta para poder seguir participando en nuestras promociones.</p>
            <label for="cellphone">INGRESA TU NÚMERO CELULAR:</label>
            <input id="wbi-sms-input" name="cellphone" type="text" placeholder="Tel. Celular (10 dígitos)">
            <input id="wbi-sms-button" type="submit" value="Enviar código" class="btn btnCart">
        </div>
    </div>
</form>