<form id="bodyModal" class="wbc-sms-modal-form" accept-charset="utf-8" action="#" method="post">
    <div class="mainModal askcellphone">
        <div class="contentModal">
            <div class="winbit-color iconWinbits95px"><span class="iconFont-winbits"></span><span class="iconBG firstI"></span><span class="iconBG secondI"></span></div>
            <p>Para asegurarnos de que otorguemos winbits a personas y no a robots que abusen de nuestras buenas intenciones, te pedimos que por favor nos ayudes a confirmar tu cuenta para poder seguir participando en nuestras promociones.</p>
            <label for="mobile">INGRESA TU NÚMERO CELULAR:</label>
            <input id="wbi-sms-input" name="mobile" type="text" placeholder="Tel. Celular (10 dígitos)" maxlength="10" value="{{phone}}" >
            <select data-clase="selectRegister" class="select" name="carrier">
                <option value="">Selecciona tu operador</option>
                <option value="1">TELCEL</option>
                <option value="2">MOVISTAR</option>
                <option value="3">IUSACELL</option>
                <option value="4">UNEFON</option>
                <option value="5">VIRGINMOBILE</option>
            </select>
            <input id="wbi-sms-button" type="submit" value="Enviar código" class="btn btnCart">
        </div>
    </div>
</form>