<form id="wbi-recover-password-form" class="wbc-recover-password-form"  accept-charset="utf-8" action="#">
    <div class="mainModal login recuperaPsw">
        <div class="contentModal">
            <fieldset>
                {{!--{{#withCurrentVertical}}--}}
                <h1>
                    <div class="clickOnerodiv"><span class="iconFont-o"></span><span class="iconFont-clicknero"></span></div><span class="iconFont-bebitos"></span><small>son parte de la familia
                    <div class="winbit-color iconWinbits70px"><span class="iconFont-winbits"></span><span class="iconFont-circle firstI"></span><span class="iconFont-circle secondI"></span></div></small>
                </h1>
                {{!--{{/withCurrentVertical}}--}}
                <h2>Recupera tu contraseña</h2>
                <input id="wbi-recover-password-email" type="text" placeholder="Email" name="email">
                <div class="errorDiv" style="display: none;"><p></p></div>
                <input type="submit" id ="wbi-recover-password-btn" class="btn"  value="Enviar">
                <p class="forgotRegister">¿Si estas registrado? <a href="#wb-login" class="wb-hash-link">haz clic aquí</a></p>
                <p class="forgotRegister">¿No estas registrado? <a href="#wb-register" class="wb-hash-link">haz clic aquí</a></p>
            </fieldset>
        </div>
    </div>
</form>