<form class="wbc-recover-password-form" id="recuperaPsw" accept-charset="utf-8" method="post">
    <div class="mainModal login recuperaPsw">
        <div class="contentModal">
            <fieldset>
                <h1>Bienvenido a <span class="iconVertical-r vertical2" title="My LOOQ"></span> <small>un sitio de la familia <span class="icon winbits11px">winbits</span></small></h1>
                <h2>Recupera tu contraseña</h2>
                <input id="wbi-recover-password-email" type="text" placeholder="Email" name="email">
                <div class="errorDiv"><p></p></div>
                <input id ="wbi-recover-password-btn" class="btn" value="Enviar">
                <p class="forgotRegister">¿Si estas registrado? <a href="#login">haz click aquí</a></p>
                <p class="forgotRegister">¿No estas registrado? <a href="#register">haz click aquí</a></p>
            </fieldset>
        </div>
    </div>
</form>