<form id="wbi-recover-password-form" class="wbc-recover-password-form"  accept-charset="utf-8" action="#">
    <div class="mainModal login recuperaPsw">
        <div class="contentModal">
            <fieldset>
                {{#withCurrentVertical}}
                    <h1>Ahora <span class="iconVertical-r vertical{{id}}" title="{{name}}"></span> <small>es parte de <span class="icon winbits11px">winbits</span></small></h1>
                {{/withCurrentVertical}}
                <h2>Recupera tu contraseña</h2>
                <input id="wbi-recover-password-email" type="text" placeholder="Email" name="email">
                <div class="errorDiv" style="display: none;"><p></p></div>
                <input type="submit" id ="wbi-recover-password-btn" class="btn"  value="Enviar">
                <p class="forgotRegister">¿Si estas registrado? <a href="#wb-login" class="wb-hash-link">haz clic aquí</a></p>
                <p class="forgotRegister">¿No estas registrado? <a href="#wb-register" class="wb-hash-link">haz clic aquí</a></p>
            </fieldset>
        </div>
    </div>
</form>