  <form id="wbi-shipping-new-address-form">
    <fieldset>
      <div class="column">
        <h3>CONTACTO</h3>
            <input type="text" placeholder="Nombre" name="firstName" class="required" data-requiredfield="Nombre Requerido">
            <input type="text" placeholder="Apellido Paterno" name="lastName" class="required" data-requiredfield="Apellido Paterno Requerido">
            <input type="text" placeholder="Apellido Materno" name="lastName2">
            <input type="text" placeholder="Teléfono con lada" name="phone" class="required" data-requiredfield="Telefono con LADA Requerido" maxlength="15">
      </div>
      <div class="column">
        <h3>DIRECCIÓN</h3>
            <textarea placeholder="Calle" name="street" class="required" data-requiredfield="Requerido"></textarea>
            <div class="inputNumber">
                <input name="externalNumber" maxlength="5" type="text" placeholder="# ext" class="required" data-requiredfield="Numero Externo Requerido" >
                <input name="internalNumber" maxlength="5" type="text" placeholder="# int">
            </div>
            <textarea name="indications" maxlength="35" placeholder="¿Entre qué calles?/Referencias para llegar" class="required" data-requiredfield="Requerido"></textarea>
            <div>
              <input type="text"  placeholder="Codigo Postal" name="zipCode" class="required" data-requiredfield="Codigo Postal Requerido" maxlength="5">
              <input type="text" placeholder="Estado" name="state" class="required" data-requiredfield="Requerido" readonly="readonly">
              <input type="text" placeholder="Delegación o Municipio" name="county" class="required" data-requiredfield="Requerido" readonly="readonly">
              <select id="wbi-shipping-address-zip-code-info" name="zipCodeInfo" class="select required" data-requiredfield="Requerido" data-clase="selectRegister"></select>
            </div>
      </div>
      <div class="column columnLarge">
        <h3>OPCIONES</h3>
        <input type="checkbox" class="checkbox" name="main" id="winbitsShippingPrincipal">
        <label for="winbitsShippingPrincipal" class="checkboxLabel">Hacer esta mi dirección principal</label>
        <p class="note">Winbits guardará tu dirección para que en tu próxima visita tus compras sean más faciles de realizar.</p>
        <div id="wbi-add-shipping-address-error" class="errorDiv" style="display: none"><p></p></div>
        <div class="submitButton">
          <span id="wbi-add-shipping-address-cancel-btn" class="btn btnCancel">Cancelar</span>
          <input id="wbi-add-shipping-address-submit-btn" type="button" value="Continuar" class="btn">
        </div>
      </div>
    </fieldset>
  </form>
