<div class="carritoContent">
    <ul id="wbi-cart-items-list">
        <li>
            <a href="#"><img src="winbitsInclude/images/assets/jeans-tiny.jpg" class="imgItem" alt="Denim looq Leggings"></a>
            <p class="descriptionItem">Denim looq Leggings</p>
            <p class="caracItem">Talla: 32, Color: Negro</p>
            <label>Cantidad:</label>
            <select class="select" data-clase="selectRegister" data-inputselect="true">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <p class="priceItem">$350.00</p>
            <span class="iconVertical-t vertical2" title="My LOOQ"></span>
            <a href="#" class="iconFont-close" title="Eliminar"></a>
        </li>
        <li>
            <a href="#"><img src="winbitsInclude/images/assets/jeans-tiny.jpg" class="imgItem" alt="Denim looq Leggings"></a>
            <p class="descriptionItem">Denim looq Leggings</p>
            <p class="caracItem">Talla: 32, Color: Negro</p>
            <label>Cantidad:</label>
            <select class="select" data-clase="selectRegister" data-inputselect="true">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <p class="priceItem">$350.00</p>
            <span class="iconVertical-t vertical3" title="Panda Sports"></span>
            <a href="#" class="iconFont-close" title="Eliminar"></a>
        </li>
        <li>
            <a href="#"><img src="winbitsInclude/images/assets/jeans-tiny.jpg" class="imgItem" alt="Denim looq Leggings"></a>
            <p class="descriptionItem">Denim looq Leggings</p>
            <p class="caracItem">Talla: 32, Color: Negro</p>
            <label>Cantidad:</label>
            <select class="select" data-clase="selectRegister" data-inputselect="true">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <p class="priceItem">$350.00</p>
            <span class="iconVertical-t vertical4" title="clickOnero"></span>
            <a href="#" class="iconFont-close" title="Eliminar"></a>
        </li>
        <li>
            <a href="#"><img src="winbitsInclude/images/assets/jeans-tiny.jpg" class="imgItem" alt="Denim looq Leggings"></a>
            <p class="descriptionItem">Denim looq Leggings</p>
            <p class="caracItem">Talla: 32, Color: Negro</p>
            <label>Cantidad:</label>
            <select class="select" data-clase="selectRegister" data-inputselect="true">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <p class="priceItem">$350.00</p>
            <span class="iconVertical-t vertical2" title="My LOOQ"></span>
            <a href="#" class="iconFont-close" title="Eliminar"></a>
        </li>
        <li>
            <a href="#"><img src="winbitsInclude/images/assets/jeans-tiny.jpg" class="imgItem" alt="Denim looq Leggings"></a>
            <p class="descriptionItem">Denim looq Leggings</p>
            <p class="caracItem">Talla: 32, Color: Negro</p>
            <label>Cantidad:</label>
            <select class="select" data-clase="selectRegister" data-inputselect="true">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <p class="priceItem">$350.00</p>
            <span class="iconVertical-t vertical2" title="My LOOQ"></span>
            <a href="#" class="iconFont-close" title="Eliminar"></a>
        </li>
        <li>
            <a href="#"><img src="winbitsInclude/images/assets/jeans-tiny.jpg" class="imgItem" alt="Denim looq Leggings"></a>
            <p class="descriptionItem">Denim looq Leggings</p>
            <p class="caracItem">Talla: 32, Color: Negro</p>
            <label>Cantidad:</label>
            <select class="select" data-clase="selectRegister" data-inputselect="true">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <p class="priceItem">$350.00</p>
            <span class="iconVertical-t vertical2" title="My LOOQ"></span>
            <a href="#" class="iconFont-close" title="Eliminar"></a>
        </li>
    </ul>
</div>
