<span id="wbi-cart-info" class="spanDropMenu" data-cart="true"><span id="wbi-cart-counter"></span> <span id="wbi-cart-icon" class="iconFont-cart"></span></span>
<div id="wbi-cart-drop" class="dropMenu miCarritoDiv">
<span class="icon triangle2"></span>
  <div class="wrapper">
      <div class="carContenido">
          <div id="wbi-cart-left-panel" class="carritoDivLeft">
          </div>
          <div id="wbi-cart-right-panel" class="carritoDivRight">
              <span class="carritoRight-title">Sub Total</span>
              <span class="carritoRight-item">$<span class="slideInput-realprice">15000</span></span>
              <span class="carritoRight-title blueSave">Ahorro</span>
              <span class="carritoRight-item blueSave">$<span class="slideInput-save"></span></span>
              <span class="carritoRight-title">Envío</span>
              <span class="carritoRight-item">$0</span>
              <p class="carritoRight-total">
                  <span class="carritoRight-title">Total</span>
                  <span class="carritoRight-item">$<span class="slideInput-price"></span></span>
              </p>
              <div class="winSave">
                  <span>WIN</span>
                  <div class="iconBit bit12px">
                      <span class="iconBG"></span>
                      <span class="iconFont-bit"></span>
                  </div>
                  <label>100</label>
                  <span>save</span>
                  <label><span class="slideInput-percent"></span>%</label>
                  <input type="text" value="0" data-min="0" data-max="599" data-step="2" data-moveprice="true" data-priceitem="slideInput-price" data-price="15000" data-realpriceitem="slideInput-realprice" data-realprice="20000" data-percent="slideInput-percent" data-save="500" data-saveitem="slideInput-save" class="slideInput">
              </div>
              <input type="submit" class="btn" value="Check Out">
              <a href="#" class="continueShoping">CONTINUE SHOPING</a>
          </div>
      </div>
  </div>
</div>
