<div class="carritoContent">
    <ul id="wbi-cart-items-list">
        {{#each cartDetails}}
        <li>
            <a href="#"><img class="wbc-item-image" src="winbitsInclude/images/assets/jeans-tiny.jpg" class="imgItem" alt="Denim looq Leggings"></a>
            <p class="descriptionItem wbc-item-description">Denim looq Leggings</p>
            <p class="caracItem wbc-item-attributes">Talla: 32, Color: Negro</p>
            <label>Cantidad:</label>
            <select class="select wbc-item-quantity" data-clase="selectRegister" data-inputselect="true">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <p class="priceItem wbc-item-price">$350.00</p>
            <span class="iconVertical-t vertical2 wbc-item-vertical-logo" title="My LOOQ"></span>
            <a href="#" class="iconFont-close wbc-item-delete-link" title="Eliminar"></a>
        </li>
        {{/each}}
    </ul>
</div>
