<span id="wbi-cart-info" class="spanDropMenu" data-cart="true"><span id="wbi-cart-counter">{{itemsCount}}</span> <span id="wbi-cart-icon" class="iconFont-cart"></span></span>
<div id="wbi-cart-drop" class="dropMenu miCarritoDiv">
<span class="icon triangle2"></span>
  <div class="wrapper">
      <div class="carContenido">
          <div id="wbi-cart-left-panel" class="carritoDivLeft">
          </div>
          <div id="wbi-cart-right-panel" class="carritoDivRight">
          </div>
      </div>
  </div>
</div>
