<span>WIN</span>
<div class="iconBit bit12px">
    <span class="iconBG"></span>
    <span class="iconFont-bit"></span>
</div>
<label id="wbi-cart-cashback">100</label>
<span>save</span>
<label id="wbi-cart-percentage-saved">%</label>
<input id="wbi-cart-bits-slider" type="text" value="0" data-min="0" data-max="599" data-step="2" data-moveprice="true" data-priceitem="slideInput-price" data-price="15000" data-realpriceitem="slideInput-realprice" data-realprice="20000" data-percent="slideInput-percent" data-save="500" data-saveitem="slideInput-save" class="slideInput">
