<input id="wbi-cart-checkout-btn" type="submit" class="btn" value="Checkout">
<a id="wbi-continue-shopping-link" href="#wb-logged-in" class="continueShoping">CONTINUE SHOPPING</a>
<div class="condicionesCompra">
    <p>Aplica para esta compra</p>
    {{#if paymentMethods}}
      <p>
        {{#paymentMethodSupported  'paypal.latam'}}
          <span title="Pay Pal" class="iconFont-paypal"></span>
        {{/paymentMethodSupported}}

        {{#paymentMethodSupported  'oxxo.'}}
          <span title="OXXO" class="iconFont-oxxo"></span>
        {{/paymentMethodSupported}}

        {{#paymentMethodSupported 'reference.hsbc'}}
          <span title="Depósito Bancario" class="iconFont-efectivo tip"></span>
        {{/paymentMethodSupported}}

        {{#paymentMethodSupported 'user.bits'}}
          <span style="font-size: 40px" title="Paga con Winbits" class="iconFont-billete tip"></span>
        {{/paymentMethodSupported}}

        {{#paymentMethodSupported 'cybersource.'}}
        <span class="paymentLOP">
            <span title="VISA" class="iconFont-visa"></span>
            <span title="Master Card" class="iconFont-mastercard"></span>
            {{#paymentMethodSupported 'amex.'}}
            <span title="American Express" class="iconFont-amex"></span>
            {{/paymentMethodSupported}}
        </span>
        {{/paymentMethodSupported}}
      </p>
      {{#withMsiPayments}}
        <p>Meses sin intereses con:</p>
        <p>
          {{#each msiPayments}}
            {{#compare identifier 'cybersource.+' operator='matches'}}
                <span title="Master Card" class="iconFont-mastercard"></span>
                <span title="VISA" class="iconFont-visa"></span>
            {{/compare}}
            {{#compare identifier 'amex.+' operator='matches'}}
                <span title="American Express" class="iconFont-amex"></span>
            {{/compare}}
            {{#compare identifier 'paypal.+' operator='matches'}}
                <span title="Pay Pal" class="iconFont-paypal"></span>
            {{/compare}}
          {{/each}}
        </p>
      {{/withMsiPayments}}
    {{/if}}
</div>
