<input id="wbi-cart-checkout-btn" type="submit" class="btn" value="Checkout">
<a id="wbi-continue-shopping-link" href="#wb-logged-in" class="continueShoping">CONTINUE SHOPPING</a>
<div class="condicionesCompra">
    <p>Aplica para esta compra</p>
    {{#if paymentMethods}}
    <p>
        {{#paymentMethodSupported  'paypal.latam'}}
          <span title="Pay Pal" class="iconFont-paypal"></span>
        {{/paymentMethodSupported}}

        {{#paymentMethodSupported  'oxxo.'}}
          <span title="OXXO" class="iconFont-oxxo"></span>
        {{/paymentMethodSupported}}

        {{#paymentMethodSupported 'reference.hsbc'}}
          <span title="Depósito Bancario" class="iconFont-efectivo tip"></span>
        {{/paymentMethodSupported}}

        {{#paymentMethodSupported 'user.bits'}}
          <span title="Paga con Winbits" class="iconFont-billete tip"></span>
        {{/paymentMethodSupported}}

        {{#paymentMethodSupported 'cybersource.'}}
        <span class="paymentLOP">
            <span title="VISA" class="iconFont-visa"></span>
            <span title="Master Card" class="iconFont-mastercard"></span>
            {{#paymentMethodSupported 'amex.'}}
            <span title="American Express" class="iconFont-amex"></span>
            {{/paymentMethodSupported}}
        </span>
        {{/paymentMethodSupported}}
    </p>

    <p>Meses sin intereses con:</p>
    <p>
        <!--<span title="Master Card" class="iconFont-mastercard"></span>-->
        <!--<span title="VISA" class="iconFont-visa"></span>-->
        <!--<span title="American Express" class="iconFont-amex"></span>-->
        <!--<span title="Pay Pal" class="iconFont-paypal"></span>-->
    </p>
    {{/if}}
</div>
