<ul>
    <li class="link">Ver video</li>
    <li class="link" id="wbi-register-link">Registrate</li>
    <li>
    <span id="wbi-cart-icon" class="spanDropMenu" data-cart="true">0 <span class="iconFont-cart"></span></span>
    <div class="dropMenu miCarritoDiv">
      <span class="icon triangle2"></span>
      <div class="wrapper">
        <div class="carContenido">
          <div class="carritoDivLeft">
            <div class="carritoContainer scrollPanel" data-content="carritoContent">
              <div class="carritoContent">
                <ul>
                  <li>
                    <a href="#"><img src="winbitsInclude/images/assets/jeans-tiny.jpg" class="imgItem" alt="Denim looq Leggings"></a>
                    <p class="descriptionItem">Denim looq Leggings</p>
                    <p class="caracItem">Talla: 32, Color: Negro</p>
                    <label>Cantidad:</label>
                    <select class="select" data-clase="selectRegister" data-inputselect="true">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    <p class="priceItem">$350.00</p>
                    <span class="iconVertical-t vertical2" title="My LOOQ"></span>
                    <a href="#" class="iconFont-close" title="Eliminar"></a>
                  </li>
                  <li>
                    <a href="#"><img src="winbitsInclude/images/assets/jeans-tiny.jpg" class="imgItem" alt="Denim looq Leggings"></a>
                    <p class="descriptionItem">Denim looq Leggings</p>
                    <p class="caracItem">Talla: 32, Color: Negro</p>
                    <label>Cantidad:</label>
                    <select class="select" data-clase="selectRegister" data-inputselect="true">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    <p class="priceItem">$350.00</p>
                    <span class="iconVertical-t vertical3" title="Panda Sports"></span>
                    <a href="#" class="iconFont-close" title="Eliminar"></a>
                  </li>
                  <li>
                    <a href="#"><img src="winbitsInclude/images/assets/jeans-tiny.jpg" class="imgItem" alt="Denim looq Leggings"></a>
                    <p class="descriptionItem">Denim looq Leggings</p>
                    <p class="caracItem">Talla: 32, Color: Negro</p>
                    <label>Cantidad:</label>
                    <select class="select" data-clase="selectRegister" data-inputselect="true">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    <p class="priceItem">$350.00</p>
                    <span class="iconVertical-t vertical4" title="clickOnero"></span>
                    <a href="#" class="iconFont-close" title="Eliminar"></a>
                  </li>
                  <li>
                    <a href="#"><img src="winbitsInclude/images/assets/jeans-tiny.jpg" class="imgItem" alt="Denim looq Leggings"></a>
                    <p class="descriptionItem">Denim looq Leggings</p>
                    <p class="caracItem">Talla: 32, Color: Negro</p>
                    <label>Cantidad:</label>
                    <select class="select" data-clase="selectRegister" data-inputselect="true">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    <p class="priceItem">$350.00</p>
                    <span class="iconVertical-t vertical2" title="My LOOQ"></span>
                    <a href="#" class="iconFont-close" title="Eliminar"></a>
                  </li>
                  <li>
                    <a href="#"><img src="winbitsInclude/images/assets/jeans-tiny.jpg" class="imgItem" alt="Denim looq Leggings"></a>
                    <p class="descriptionItem">Denim looq Leggings</p>
                    <p class="caracItem">Talla: 32, Color: Negro</p>
                    <label>Cantidad:</label>
                    <select class="select" data-clase="selectRegister" data-inputselect="true">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    <p class="priceItem">$350.00</p>
                    <span class="iconVertical-t vertical2" title="My LOOQ"></span>
                    <a href="#" class="iconFont-close" title="Eliminar"></a>
                  </li>
                  <li>
                    <a href="#"><img src="winbitsInclude/images/assets/jeans-tiny.jpg" class="imgItem" alt="Denim looq Leggings"></a>
                    <p class="descriptionItem">Denim looq Leggings</p>
                    <p class="caracItem">Talla: 32, Color: Negro</p>
                    <label>Cantidad:</label>
                    <select class="select" data-clase="selectRegister" data-inputselect="true">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    <p class="priceItem">$350.00</p>
                    <span class="iconVertical-t vertical2" title="My LOOQ"></span>
                    <a href="#" class="iconFont-close" title="Eliminar"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="carritoDivRight">
            <span class="carritoRight-title">Sub Total</span>
            <span class="carritoRight-item">$<span class="slideInput-realprice">15000</span></span>
            <span class="carritoRight-title blueSave">Ahorro</span>
            <span class="carritoRight-item blueSave">$<span class="slideInput-save"></span></span>
            <span class="carritoRight-title">Envío</span>
            <span class="carritoRight-item">$0</span>
            <p class="carritoRight-total">
              <span class="carritoRight-title">Total</span>
              <span class="carritoRight-item">$<span class="slideInput-price"></span></span>
            </p>
            <div class="winSave">
              <span>WIN</span>
              <div class="iconBit bit12px">
                <span class="iconBG"></span>
                <span class="iconFont-bit"></span>
              </div>
              <label>100</label>
              <span>save</span>
              <label><span class="slideInput-percent"></span>%</label>
              <input type="text" value="0" data-min="0" data-max="599" data-step="2" data-moveprice="true" data-priceitem="slideInput-price" data-price="15000" data-realpriceitem="slideInput-realprice" data-realprice="20000" data-percent="slideInput-percent" data-save="500" data-saveitem="slideInput-save" class="slideInput">
            </div>
            <input type="submit" class="btn" value="Check Out">
            <a href="#" class="continueShoping">CONTINUE SHOPING</a>
          </div>
        </div>
      </div>
    </div>
  </li>
    <li class="btn btnTopNav" id="wbi-login-btn">Log in</li>
</ul>
