<ul>
    <a href ="#wb-video" class="link wb-hash-link">Ver video</a>
    <li class="link" id="wbi-register-link">Regístrate</li>
    <li id="wbi-virtual-cart"></li>
    <li class="btn btnTopNav" id="wbi-login-btn">Log in</li>
</ul>
