<ul>
    <li class="link">Ver video</li>
    <li class="link" id="wbi-register-link">Registrate</li>
    <li id="wbi-cart-holder"></li>
    <li class="btn btnTopNav" id="wbi-login-btn">Log in</li>
</ul>
