<ul>
    <li><a href ="#wb-video" class="link wb-hash-link">¿Qué es Winbits?</a></li>
    <li class="link" id="wbi-register-link">Regístrate</li>
    <li id="wbi-virtual-cart"></li>
    <li class="btn btnTopNav" id="wbi-login-btn">Entrar</li>
</ul>
