<div class="wrapper">
  <div class="switchUser" >
    <span class="switchUser-user">Switch User con la cuenta: <em>{{switchUser}}</em></span>
    <span class="iconFont-close wbc-logout" id='wbi-switch-user-logout' title="Cerrar Switch User"></span>
  </div>
</div>