<form class="wbc-reset-password-form" id="recuperaPsw" accept-charset="utf-8" method="post">
    <div class="mainModal login recuperaPsw">
        <div class="contentModal">
            <fieldset>
                {{#withCurrentVertical}}
                    <h1>Bienvenido a <span class="iconVertical-r vertical{{id}}" title="{{name}}"></span> <small>un sitio de la familia <span class="icon winbits11px">winbits</span></small></h1>
                {{/withCurrentVertical}}
                <div>
                    <h2>Recuperación de contraseña</h2>
                    <h3>Escribe la nueva contraseña:</h3>
                    <input type="password" placeholder="Nueva contraseña" name="resetPassword">
                    <input type="password" placeholder="Nueva contraseña nuevamente" name="resetPasswordConfirm">
                    <div class="errorDiv" style="display:none"><p></p></div>
                    <input id="wbi-reset-password-btn"type="submit" class="btn" value="Enviar">
                </div>
            </fieldset>
        </div>
    </div>
</form>