<form class="wbc-reset-password-form" id="recuperaPsw" accept-charset="utf-8" method="post">
    <div class="mainModal login recuperaPsw">
        <div class="contentModal">
            <fieldset>
                {{!--{{#withCurrentVertical}}--}}
                <h1>
                    <div class="clickOnerodiv"><span class="iconFont-o"></span><span class="iconFont-clicknero"></span></div><span class="iconFont-bebitos"></span><small>son parte de la familia
                    <div class="winbit-color iconWinbits70px"><span class="iconFont-winbits"></span><span class="iconFont-circle firstI"></span><span class="iconFont-circle secondI"></span></div></small>
                </h1>
                {{!--{{/withCurrentVertical}}--}}
                <div>
                    <h2>Recuperación de contraseña</h2>
                    <h3>Escribe la nueva contraseña:</h3>
                    <input id="wbi-reset-password" type="password" placeholder="Nueva contraseña" name="password">
                    <input id="wbi-reset-password-confirm" type="password" placeholder="Nueva contraseña nuevamente" name="passwordConfirm">
                    <div class="errorDiv" style="display:none"><p></p></div>
                    <input id="wbi-reset-password-btn" type="submit" class="btn" value="Enviar">
                </div>
                <div id="wbi-rst-password-thanks"class="thanks-div recoveryPassword" style="display:none">
                    <div id="wbi-process-data" class="data" style="display: none">
                        <p>Procesando información</p>
                        <div class="loader"></div>
                    </div>
                    <div id="wbi-success-data" class="data" style="display: block">
                        <p>Tus contraseña fué cambiada</p>
                        <a href="#" class="btn">Cerrar</a>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>